[2015-01-04 13:26] burriko opened #4 "No devices found on OS X when running as normal user"
As mentioned on reddit, I get an exception saying "No devices found on the current network" when I call getControllers().

I've since tried the same code in a Linux VM, and it found the devices fine.  I then tried running the code again on OS X, but this time running as root, which also worked fine.  So it would seem to be a networking permissions issue from PHP when running as a normal user on OS

[2015-01-04 13:50] burriko commented on #4
More digging, and the actual problem was that the first time I ran the code the Sonos systems couldn't be discovered (don't know why) and this result was cached. So all subsequent calls were using the cached result of 'No devices found'.  Clearing the cache has fixed the issue.

I suppose the network discovery should only be cached if it actually finds devices.  Still, it seems to be cached foreve

[2015-01-05 15:32] duncan3dc commented on #4
Thanks for the report @burriko, I suspected it might have been a miss-cache.
Do you have any error reporting levels hidden? Maybe a warning went unnoticed.

Only caching when we find some devices makes sense to me, I'll make that change which should avoid this issue in the future

[2015-01-05 15:43] burriko commented on #4
Thinking back I do now remember the OS X firewall dialog popping up the first time I tried it, and by the time I'd clicked to 'Accept' the connection the script had already failed. So that'll be what caused the initial error, which was still reported as the Exception for no devices found. I didn't think much of it at the time as all subsequent runs gave the same error despite the firewall being di

[2015-01-05 16:30] duncan3dc commented on #4
That explains it then. As of [1.0.2](https://github.com/duncan3dc/sonos/releases/tag/1.0.2) failed discoveries are no longer cached. Thanks for your help.

[2015-01-05 16:30] #4 closed

[2015-02-24 08:43] 889laurent opened #5 "exemple"
please send me a complete exemple of php for play on speakers name "salon". I tried your application but there this message
[code]

my php test is

[code]

sorry for my bad english im french
thanks

[2015-02-24 08:47] duncan3dc commented on #5
@889laurent Your example looks fine, and your English is good. This looks like maybe your speakers have changed IP addresses after being cached. what about if you try to use a very short cache:

[code]

[2015-02-24 08:52] 889laurent commented on #5
With your code i have the same result ?

Laurent MARIO Directeur Technique

  [cid:logo20151ce3af]
________________________________

tel fixe: +33 4 93 23 27 27 télécopie: +33 4 93 23 27 20  tel direct: +33 4 93 23 27 21 mobile: +33 6 83 81 26 35 mail: laurent.MARIO@valtinee.fr

Route Départementale 2205 Lieu dit la Sorbière 06420 SAINT SAUVEUR SUR TINEE

________________________________

Ce mail

[2015-02-24 08:57] duncan3dc commented on #5
@889laurent Which Sonos speakers are you using? eg Play:1? Play:3?

[2015-02-24 08:59] 889laurent commented on #5
I have 3 play 3
2 play 1
1 connect amp

I used to sonos class php by djmomo et its work fine

Laurent MARIO Directeur Technique

  [cid:logo201569c585]
________________________________

tel fixe: +33 4 93 23 27 27 télécopie: +33 4 93 23 27 20  tel direct: +33 4 93 23 27 21 mobile: +33 6 83 81 26 35 mail: laurent.MARIO@valtinee.fr

Route Départementale 2205 Lieu dit la Sorbière 06420 SAINT SAUVEUR

[2015-02-24 09:02] duncan3dc commented on #5
@889laurent I only have Play:1's at the moment so this might be to do with the connect amp (it might work differently). Is your room called "Salon"? If so does the following work:

[code]

[2015-02-24 09:08] 889laurent commented on #5
The play of « salon » is a play3

I tried ypur code and I have the same result
PHP Fatal error:  Uncaught exception 'Exception' with message 'couldn't connect to host' in /var/www/duncan/vendor/duncan3dc/helpers/src/Helper.php:664
Stack trace:
#0 /var/www/duncan/vendor/duncan3dc/domparser/src/Parser.php(29): duncan3dc\Helpers\Helper::curl('http://192.168....')
#1 /var/www/duncan/vendor/duncan3dc/d

[2015-02-24 09:16] duncan3dc commented on #5
@889laurent Ok I think I can see the problem, leave it with me while I work on a fix

[2015-02-24 09:31] 889laurent commented on #5
The php code is on raspberry pi.  If you want its possible to connect on it with ssh  the login is pi and the password raspberry.

Your code is in /var/www/duncan

The address is marjoline.no-ip.org on port 222

Laurent MARIO Directeur Technique

  [cid:logo201500c52b]
________________________________

tel fixe: +33 4 93 23 27 27 télécopie: +33 4 93 23 27 20  tel direct: +33 4 93 23 27 21 mobile:

[2015-02-24 11:37] duncan3dc commented on #5
Thanks @889laurent I will try that.

I've removed the sensitive information from your comment now.

[2015-02-24 11:50] duncan3dc commented on #5
Thanks for the access, I can see the problem now, it's due to other upnp devices that are not Sonos, as well as things like the bridge which I haven't used before.

If you look in `/var/www/duncan/duncan3dc.php` you will see some example code that works

[2015-02-24 12:04] 889laurent commented on #5
Thanks.
You have patch the code with fix?

Cordialement
Laurent MARIO

Laurent MARIO Directeur Technique

  [cid:logo20158d2041]
________________________________

tel fixe: +33 4 93 23 27 27 télécopie: +33 4 93 23 27 20  tel direct: +33 4 93 23 27 21 mobile: +33 6 83 81 26 35 mail: laurent.MARIO@valtinee.fr

Route Départementale 2205 Lieu dit la Sorbière 06420 SAINT SAUVEUR SUR TINEE

____________

[2015-02-24 12:11] duncan3dc commented on #5
Yes I have patched your code (`/var/www/duncan/vendor/duncan3dc/sonos/src/Network.php`).

However this is only half of the fix. It is not complete.

I will let you know when there is a new version to install with a full fix

[2015-02-24 13:15] 889laurent commented on #5
I tried and it works fine!
Thanks a lot

It was perfect if you add tts function like djmomo phpclass

Cordialement
Laurent MARIO

Laurent MARIO Directeur Technique

  [cid:logo2015763402]
________________________________

tel fixe: +33 4 93 23 27 27 télécopie: +33 4 93 23 27 20  tel direct: +33 4 93 23 27 21 mobile: +33 6 83 81 26 35 mail: laurent.MARIO@valtinee.fr

Route Départementale 2205 Lieu

[2015-02-24 13:34] 889laurent commented on #5
Thanks a lot for your work

Cordialement
Laurent MARIO

Laurent MARIO Directeur Technique

  [cid:logo2015114b1b]
________________________________

tel fixe: +33 4 93 23 27 27 télécopie: +33 4 93 23 27 20  tel direct: +33 4 93 23 27 21 mobile: +33 6 83 81 26 35 mail: laurent.MARIO@valtinee.fr

Route Départementale 2205 Lieu dit la Sorbière 06420 SAINT SAUVEUR SUR TINEE

___________________________

[2015-02-24 13:40] duncan3dc commented on #5
You're welcome, I'm glad you are finding the code useful

[2015-02-24 15:07] 889laurent commented on #5
I want a new help for :

-          Record the status of all SONOS in network (state, track, volume,…) (there I need help)

-          Joining  sonos in a group (function addspeaker it s ok for me)

-          Play a message (its ok for me)

-          Remove speaker for the group (function remove speaker its ok for me)

-          Play and stop in initial state before joining the group

Laurent M

[2015-02-24 15:15] duncan3dc commented on #5
All of the features available are covered in the [documentation](http://duncan3dc.github.io/sonos/).
If you are having any specific problems with any of the features please feel free to open another issue and I will attempt to help in any way I can

[2015-02-24 15:18] 889laurent commented on #5
I tried and open another issue if i have a problem
thanks

Laurent MARIO Directeur Technique

  [cid:logo201544fdcf]
________________________________

tel fixe: +33 4 93 23 27 27 télécopie: +33 4 93 23 27 20  tel direct: +33 4 93 23 27 21 mobile: +33 6 83 81 26 35 mail: laurent.MARIO@valtinee.fr

Route Départementale 2205 Lieu dit la Sorbière 06420 SAINT SAUVEUR SUR TINEE

________________________

[2015-02-26 06:24] 889laurent opened #6 "I do not Retrieve the speakers or alarm to be launched"
I do not Retrieve in your API the speakers or alarm to be launched . please help me about this.

[2015-02-26 09:01] duncan3dc commented on #6
Please run the following to install an experimental version with support for bridges and other devices:
[code]

After installing that, can you try the following script:
[code]

[2015-02-26 09:39] 889laurent commented on #6
Your exemple works with your actual php , but I do not find the name of speaker of alarm !

Copy screen
Alarm ID: 44
Time: 07:30
Duration: 15
Volume: 24
Frequency: Weekdays
-------------------------------------------
Alarm ID: 46
Time: 07:20
Duration: 15
Volume: 20
Frequency: Tues
-------------------------------------------
Alarm ID: 48
Time: 06:20
Duration: 15
Volume: 20
Frequency: Wed,Thurs,Fri,

[2015-02-26 09:42] duncan3dc commented on #6
Ok I understand. That feature is not available yet, I will work on it and let you know when it is

[2015-02-26 09:44] 889laurent commented on #6
Ok thanks

Laurent MARIO Directeur Technique

  [cid:logo20155cafe7]
________________________________

tel fixe: +33 4 93 23 27 27 télécopie: +33 4 93 23 27 20  tel direct: +33 4 93 23 27 21 mobile: +33 6 83 81 26 35 mail: laurent.MARIO@valtinee.fr

Route Départementale 2205 Lieu dit la Sorbière 06420 SAINT SAUVEUR SUR TINEE

________________________________

Ce mail a été envoyé depuis la societé

[2015-02-27 16:36] 889laurent commented on #6
i tried your experimental php class (composer require duncan3dc/sonos:~1.1-dev) and i have this error result !

PHP Fatal error:  Call to undefined method duncan3dc\Sonos\Device::logger() in /var/www/duncan/vendor/duncan3dc/sonos/src/Device.php on line 58

i do réinstall original version or i tried another solution !

[2015-02-27 17:41] duncan3dc commented on #6
1.1-dev should be working again, hopefully I'll be doing a stable release very soon

[2015-02-27 17:57] duncan3dc commented on #6
This feature is available in version 1.1.0:
[code]

I'll be updating the documentation shortly

[2015-02-27 17:57] #6 closed

[2015-02-27 17:58] duncan3dc commented on #5
I've just released version 1.1.0 that has support for non Sonos devices as well as Sonos devices that are not speakers

[2015-02-27 17:58] #5 closed

[2015-02-27 19:01] 889laurent commented on #6
Good job
Thanks

Cordialement
Laurent MARIO

Laurent MARIO Directeur Technique

  [cid:logo2015cf1cf5]
________________________________

tel fixe: +33 4 93 23 27 27 télécopie: +33 4 93 23 27 20  tel direct: +33 4 93 23 27 21 mobile: +33 6 83 81 26 35 mail: laurent.MARIO@valtinee.fr

Route Départementale 2205 Lieu dit la Sorbière 06420 SAINT SAUVEUR SUR TINEE

________________________________

Ce m

[2015-03-02 07:01] 889laurent opened #7 "Support Connect and Connect Amp"
i tried the las version end with this code
[code]
there are not find the sonos connect and sonos connect amp in my network.

[2015-03-02 09:05] duncan3dc commented on #7
Unfortunately those devices aren't supported at the moment (as I don't have them to test with).

If you have their ip addresses then you could manually create a `Device` instance and pass soap calls to it:
[code]

[2015-03-02 09:09] 889laurent commented on #7
Thanks for your answer. In your précédent version (patch in my rpi) is ok ?
If you want I try in my network or better tried with ssh on my network

Laurent MARIO Directeur Technique

  [cid:logo2015989526]
________________________________

tel fixe: +33 4 93 23 27 27 télécopie: +33 4 93 23 27 20  tel direct: +33 4 93 23 27 21 mobile: +33 6 83 81 26 35 mail: laurent.MARIO@valtinee.fr

Route Départe

[2015-03-02 09:12] duncan3dc commented on #7
The previous version considered all devices as Speakers. But the Connect Amp doesn't support all the same features as speakers, which caused the error you reported in #5.

I will try and find some time to log on to your pi and do some testing, thanks

[2015-03-02 17:41] 889laurent commented on #7
the précédent version as you modified on my rpi via tts works with sonos connect amp ans sonos connect. (but not présent after update).The ip of connect amp ans connect is 192.168.0.60 ("Piscine") and 192.168.0.38 ("Cuisine ete")

[2015-03-03 16:53] 889laurent opened #8 "error with play function"
i tried this code
[code]

and i have this result

[code]

i have same result with pause, stop ,...

[2015-03-03 17:41] duncan3dc commented on #8
Do you have something queued up for every controller?

701 is usually something like invalid state, maybe an empty queue would cause that

[2015-03-04 09:42] 889laurent commented on #8
I think it's a problem of memory buffer. If I run the same command on a single SONOS it works

[2015-03-04 09:46] duncan3dc commented on #8
That's probably because the single SONOS you are trying it on works, but it's one of the others that is failing.

Did you check all the queues? You could add some `echo` statements within the `foreach` loop to see which controller is failing, and how many items are in it's queue

[2015-03-04 10:01] 889laurent commented on #8
i have tried with this code

#!/usr/bin/env php
<?php

require __DIR__ . "/vendor/autoload.php";
use duncan3dc\Sonos\Network;
use duncan3dc\Sonos\Controller;
$cache = new \Doctrine\Common\Cache\FilesystemCache("/tmp/sonos-cache");
 $cache->deleteAll();
 $sonos = new Network($cache);

$controllers = $sonos->getControllers();
foreach ($controllers as $controller) {
$queue =$controller->getQueue();
$

[2015-03-04 10:04] duncan3dc commented on #8
That error is because you are trying to pause a room that is stopped, which is why the `701 Invalid State` error is thrown.

What you if you change the `pause()` back to the play code you had before, what output do you get then?

[2015-03-04 10:22] 889laurent commented on #8
if i replace pause by play its ok
résult
PLAYING Salle de bains2 0 8
PLAYING Salle de bains 0 2089
PLAYING Salon 0 2
PLAYING Chambre marjorie 0 4334
STOPPED Chambre coline 0 138
PLAYING pergola 0 1

but if i tried pause there are an error with SONOS with state STOPPED !

[2015-03-04 10:23] 889laurent commented on #8
how played a SONOS with state STOPPED ?

[2015-03-04 10:24] duncan3dc commented on #8
You can't pause a SONOS that is stopped. You need to check the current state `getState()` before attempting to play/pause/stop/etc

[2015-03-04 10:27] 889laurent commented on #8
ok for pause a SONOS with state STOPPED (its logical) but how play a sonos with state STOPPED ? its not works !

[2015-03-04 10:40] duncan3dc commented on #8
That's strange, what is the output of the following script:

[code]

[2015-03-04 10:50] 889laurent commented on #8
résult

--------------------------------------------
ip:    192.168.0.86
name:  192.168.0.86 - Sonos PLAY:1
room:  Salle de bains
queue: 2089
state: PAUSED_PLAYBACK
Start Playing...
--------------------------------------------
ip:    192.168.0.85
name:  192.168.0.85 - Sonos PLAY:3
room:  Chambre marjorie
queue: 4334
state: PAUSED_PLAYBACK
Start Playing...
------------------------------------------

[2015-03-04 10:51] duncan3dc commented on #8
So no errors? Is there a problem?

[2015-03-04 10:54] 889laurent commented on #8
the second result after play

--------------------------------------------
ip:    192.168.0.32
name:  192.168.0.32 - Sonos PLAY:3
room:  Chambre coline
queue: 138
state: STOPPED
Start Playing...
--------------------------------------------
ip:    192.168.0.47
name:  192.168.0.47 - Sonos PLAY:3
room:  Salon
queue: 2
state: PLAYING
--------------------------------------------
ip:    192.168.0.86
nam

[2015-03-04 10:56] duncan3dc commented on #8
Are the contents of the queue available? Maybe Sonos is failing to play the tracks queued because they can not be found. Have you tried to play that queue using the Official Sonos App?

[2015-03-04 13:04] 889laurent commented on #8
the contents of my playlist in this SONOS is not ok. That the problem.

Thanks for your help.
Have you avanced about connect and connect amp ? in first time i want to try the model of connect amp in your code device.php

'''return in_array($model, ["S1", "S3", "S5"], true);'''
what the model of connect amp and connect ?

[2015-03-04 13:09] duncan3dc commented on #8
The bridge is `'ZB100'`, the connect is `'ZP90'` and the connect amp is `'ZP120'`

[2015-03-04 13:09] #8 closed

[2015-03-04 14:11] 889laurent opened #9 "proposed changes envisaged for play pause next and previous:"
test on the play command if the sonos is not already in play or pause , and there was a few things to read.
idem for next and previous

[2015-03-04 14:13] duncan3dc commented on #9
For the play stuff I would rather leave that to the calling code. There's a performance penalty for every soap call to the devices, and depending on the network conditions this could make things a lot less responsive.

I'll give it some thought though. Maybe we could catch an error on play, and then check the status, and ignore the error if the device is now playing

[2015-03-04 14:14] 889laurent commented on #7
in my case I added the ZP90 and ZP120 in device.php and it works
line 119 device.php  return in_array($model, ["S1", "S3", "S5", "ZP90", "ZP120"], true);

[2015-03-04 14:17] 889laurent commented on #9
this is the best idea to avoid cluttering the network

[2015-03-04 14:25] 889laurent opened #10 "help request of command getState()"
the result of command getState() is a number (202 for playing) and in your exemple it use thise code
with alphanumeric "Controller::STATE_PLAYING"
if ($controller->getState() !== Controller::STATE_PLAYING) {
         $controller->play();

please help me about this

[2015-03-04 14:29] 889laurent opened #11 "feature request TTS"
i use TTS command on SONOS of DjMomo/sonos
this code is a good solution in automatinghousesystem for played alarm or everything. It was perfect if you add in your code

[2015-03-04 14:31] duncan3dc commented on #10
Controller::STATE_PLAYING is a [class constant](http://php.net/manual/en/language.oop5.constants.php) which [represents the number 202](https://github.com/duncan3dc/sonos/blob/7cf1ae34800dcd2446a4da09e747d7fd03c6e231/src/Controller.php#L24).

-----

We use this because this:
[code]
is a lot more readable than:
[code]

[2015-03-04 14:31] #10 closed

[2015-03-04 14:31] 889laurent commented on #11
is this the right solution to open issues for my requests ?
or is it you use the email ?

[2015-03-04 14:36] 889laurent commented on #10
thanks i understand now

[2015-03-04 14:37] duncan3dc commented on #11
This is the right solution :+1:

[2015-03-09 09:12] 889laurent opened #12 "function seek with option track number in queue"
I am able to move forward on a track of number in the queue. I dont want this feature in your api

[2015-03-09 09:36] duncan3dc commented on #12
Please can you explain more? Maybe with an example?

[2015-03-09 10:58] 889laurent commented on #12
thanks for your answer.
i want to play a message . i used "$queue->addTrack("x-file-cifs://" .$directory ."/TTS-63af97a14a6f2f5596a868b521a382d0.mp3" ); "
the message is in the last position af the queue
i want to play this.

if i addtrack in 1 position when i play that play message and other tracks after in queue

i added in your code this function
public function SeekNumber($position)
	     {

[2015-03-09 11:03] duncan3dc commented on #12
I understand, I'll take a look at adding a seek track/time function soon

[2015-03-12 19:18] patrickharris commented on #11
Yes, this would be great to add. Might you add this Duncan? If not, I might have a go myself.

[2015-03-12 19:31] duncan3dc commented on #11
@patrickharris I plan to take a look at some point, but if you want to give it a go, be my guest

[2015-03-12 20:13] duncan3dc commented on #12
I've added this in ac55595270d727e67a8d7cdb35d7e3fb5c60e4ee now, I'll be tagging a new release a little bit later with some new documentation

[2015-03-12 20:13] #12 closed

[2015-03-12 20:28] duncan3dc commented on #9
I've added this in 8758526a527d4b2de327a06b0af2906526609b15 now, I'll be tagging a new release a little bit later

[2015-03-12 20:28] #9 closed

[2015-03-13 11:03] 889laurent commented on #9
Thanks

Cordialement
Laurent MARIO

Laurent MARIO Directeur Technique

  [cid:logo2015e6cff5]
________________________________

tel fixe: +33 4 93 23 27 27 télécopie: +33 4 93 23 27 20  tel direct: +33 4 93 23 27 21 mobile: +33 6 83 81 26 35 mail: laurent.MARIO@valtinee.fr

Route Départementale 2205 Lieu dit la Sorbière 06420 SAINT SAUVEUR SUR TINEE

________________________________

Ce mail a été

[2015-03-13 11:06] 889laurent commented on #9
I think of seek second is a good idea but if you want to retreive a old position of a track the format hh:mm:ss is better

Cordialement
Laurent MARIO

Laurent MARIO Directeur Technique

  [cid:logo2015ad18ad]
________________________________

tel fixe: +33 4 93 23 27 27 télécopie: +33 4 93 23 27 20  tel direct: +33 4 93 23 27 21 mobile: +33 6 83 81 26 35 mail: laurent.MARIO@valtinee.fr

Route Dépa

[2015-03-16 12:22] 889laurent commented on #7
i have buy a player and i want to pilot with pour api. Please give me the reference of model (ex "S1,...
thanks

[2015-03-16 12:22] 889laurent commented on #7
its a playbar , sorry

[2015-03-16 15:25] 889laurent commented on #7
I searched and I found! S9 is

[2015-03-16 15:31] duncan3dc commented on #7
Great, thanks @889laurent I will add support for the playbar shortly

[2015-03-16 19:39] duncan3dc commented on #7
Playbar support is available in 1.1.3

[2015-03-19 16:32] 889laurent commented on #11
i added this code
''' protected function CutString($string,$intmax)
	{
		$i = 0;
		while (strlen($string) > $intmax)
		{
			$string_cut = substr($string, 0, $intmax);
			$last_space = strrpos($string_cut, "+");
			$strings[$i] = substr($string, 0, $last_space);
			$string = substr($string, $last_space, strlen($string));
			$i++;
		}
		$strings[$i] = $string;
		return $strings;
	}
  public function

[2015-03-19 16:37] 889laurent commented on #7
the playbar reads the digital input when switching on the TV. The playback status is "playing"! How do I know if it is playing music from the queue or from digital input? It'll be interesting to add a read status Audio Input or radio

[2015-03-19 19:24] patrickharris commented on #11
I'm working on this too. Is the best thing to commit new code to a git branch?

djmomo's method of waiting for the included track to finish (@889laurent - you have hard coded a time there instead) was to see if the track number had dropped from the queue, but I'm not sure whether this method will currently work with dauncan's code.

[2015-03-19 19:36] 889laurent commented on #11
The last song in the list is read and then she stops if the random function is not activate

Laurent MARIO Directeur Technique

  [cid:logo2015020ae1]
________________________________

tel fixe: +33 4 93 23 27 27 télécopie: +33 4 93 23 27 20  tel direct: +33 4 93 23 27 21 mobile: +33 6 83 81 26 35 mail: laurent.MARIO@valtinee.fr

Route Départementale 2205 Lieu dit la Sorbière 06420 SAINT SAUVEUR S

[2015-03-19 23:50] duncan3dc commented on #11
@patrickharris Yes please commit to a branch and submit a pull request when you have a working feature, thanks

[2015-03-20 06:18] 889laurent commented on #11
I dont know how?
I find

Cordialement
Laurent MARIO

Laurent MARIO Directeur Technique

  [cid:logo2015f43acc]
________________________________

tel fixe: +33 4 93 23 27 27 télécopie: +33 4 93 23 27 20  tel direct: +33 4 93 23 27 21 mobile: +33 6 83 81 26 35 mail: laurent.MARIO@valtinee.fr

Route Départementale 2205 Lieu dit la Sorbière 06420 SAINT SAUVEUR SUR TINEE

______________________________

[2015-03-23 17:38] 889laurent opened #13 "TV playback function on the playbar"
The TV playback function not works with play() command. On sonos controler there a special function that do it

[2015-03-24 12:42] 889laurent commented on #13
the uri command return nothing when the spdif input is on

[2015-03-24 17:02] 889laurent commented on #13
i tried to addtrack wirh this uri (x-sonos-htastream:RINCON_B8E9377DB02301400:spdif) and i have error message
PHP Fatal error:  Uncaught exception 'duncan3dc\Sonos\Exceptions\SoapException' with message 'UPnPError: 804' in /var/www/duncan/vendor/duncan3dc/sonos/src/Device.php:120
Stack trace:
#0 /var/www/duncan/vendor/duncan3dc/sonos/src/Speaker.php(93): duncan3dc\Sonos\Device->soap('AVTransport',

[2015-04-06 16:09] duncan3dc commented on #11
I've done some initial work on this in a branch, you can install and test it out like so:
[code]

[code]

[2015-04-06 16:12] duncan3dc commented on #7
Unfortunately I don't have a Playbar or Play:5 to test digital input at the moment. Once I do I will add support for it

[2015-04-06 16:13] duncan3dc commented on #13
This is being tracked under issue #7

[2015-04-06 16:13] #13 closed

[2015-04-07 06:21] 889laurent commented on #7
thanks for your help. If you want i tried your code on my playbar for test .

[2015-04-07 07:24] patrickharris commented on #11
Hey, that's great you've done some work on this. The way I did this was by interrupting any current track or stream for the speech, and then continuing the current track or stream after the speech was finished. Nearly all my code was dumped in one class called 'speech' (because I thought this was the only place this kind of interrupt would be required). It also did weather forecasting. I could eit

[2015-04-07 08:18] duncan3dc commented on #11
Thanks @patrickharris, that's pretty much exactly what I did: https://gist.github.com/duncan3dc/e73734297a04c3ba4002

If you push your work up to a branch I'll take a look. I'm not sure if this code belongs in this Sonos library yet.

I'm thinking just an `exportState()` method to extract the current queue and playing position, then a `restoreStore()` method to set the queue and playing position a

[2015-04-07 08:40] patrickharris commented on #11
Ahh - I hadn't seen that weather link, and the "clear queue" got me confused - I hadn't realised you had stored the tracks before clearing. That's really nice and clean! Does it restore a stream correctly? I found I had to interrupt a stream differently to a track. Also, I was able to restore a stream url (audio), but couldn't successfully restore the stream text and graphic (i.e. title, artist, e

[2015-04-07 08:42] duncan3dc commented on #11
No I haven't tackled stream support yet, and the spotify also has the same issue you mentioned there (no artist, title, etc)

[2015-04-07 18:16] duncan3dc commented on #11
I've added the exporting/restoring state methods now to make it easier to 'interrupt' playing.

Do you both think this is enough for TTS support? (cc: @889laurent)

[code]

[2015-04-07 20:54] patrickharris commented on #11
Hey that looks fantastic. I'll test it when I get home. But it would be good if it can 'restoreState' a stream (as well as track).

[2015-04-07 21:30] patrickharris opened #15 "x-file-cifs and tts streaming"
I can play mp3 files fine by the track pointing to the mp3 file, and having it served up by apache, i.e. "http://192.168168... etc ... /path_to_file.mp3". However, I can't get the x-file-cifs working. I've tried from my NAS (which supports upnp/dlna), and from my mac (using sony ps3, and eyeConnect servers). If I use BubbleUpnp from an android phone, I can stream no problem from the servers. So I'

[2015-04-07 22:09] duncan3dc commented on #15
If your NAS is running unix then you'll need [Samba](http://en.wikipedia.org/wiki/Samba_%28software%29) running on it to access the files using CIFS.

I did find a couple of quirks with Sonos and CIFS:
* It insisted on the hostname to be all uppercase
* The directories and filenames needed to be url-encoded
* The slash directory separates should not be url-encoded

An example path would be somethi

[2015-04-07 22:10] duncan3dc commented on #11
Yeh I'll add that before releasing, just making sure the api is sensible first

[2015-04-08 05:37] 889laurent commented on #15
it works in my house when i add the url of directory in the music library of the Sonos app .

[2015-04-08 05:39] 889laurent commented on #11
i test the tts and it works find on my sonos. i not tried the restorestate

[2015-04-08 05:45] 889laurent commented on #11
i test the tts and it works fine on my sonos but i not tried the restorestate . I test when i get home

thanks

[2015-04-08 08:51] patrickharris commented on #15
Thanks guys for that help. I changed the hostname to uppercase, and got a new message 'file could not be found'. I added the folder via the sonos software on the computer, but even trying to play the mp3 file via the library on the computer got the same error message. Tomorrow I'll reboot everything and see if that makes any difference. If I can't get it going, I'll just use the path to the file v

[2015-04-08 08:55] duncan3dc commented on #15
Ok, sorry I couldn't be of more help

[2015-04-08 08:55] #15 closed

[2015-04-08 08:56] patrickharris commented on #11
It would be good to be able to alter the tts url and language, as for instance, the .co.uk has an English accent, as opposed to the .com. Also, could allow for more than 100 characters by combining multiple files. I found by looking for a fullstop/period before the 100 character maximum, and chopping there, I got better inflexion than chopping at the nearest space.

[2015-04-09 07:21] patrickharris commented on #11
I rebooted all the network devices today, and now it suddenly works. Thanks guys for your help!!!

[2015-04-09 07:23] patrickharris commented on #15
I rebooted all the network devices today, and now suddenly it works! Thanks guys for your help.

[2015-04-09 07:31] patrickharris commented on #11
I tested it - it works well. However, I get an "Fatal error: Class 'Controller' not found", so I have to replace "Controller::STATE_PLAYING" with "202".

Restore state worked for a track, except it did not replace the artwork. The TTS needs an ability to give a temporary volume it can interrupt with, and restore state should include restoring the previous volume. Anyway, great work - it's fantasti

[2015-04-09 07:48] patrickharris commented on #11
The caching doesn't seem to be working properly. When I rebooted my system, the IP changed for the sonos speaker. I could only access it by creating a "new Network(new \Doctrine\Common\Cache\ArrayCache)". However if I later ever request "new Network" (i.e. with cache), then the old IP is used, resulting in an error. I assume the initial cache is never overwritten.

[2015-04-09 07:53] patrickharris commented on #11
Argh, something else. After the tts file plays, and the interrupted track stops, the url of the tts file is displayed, and then played next. It seems to not be removed, or to be added, to the replaced state queue. If a track isn't playing, the tts breaks, but this is because you haven't done the 'interrupt stream state' yet.

[2015-04-09 07:59] duncan3dc commented on #11
@patrickharris It's difficult to respond to multiple questions/comments inside a single issue, please log them separately in future.

TTS is still in development, so there are likely to be many issues with it before it is put into a proper release. I appreciate you testing it out and I will let you know when it's ready for that level of feedback, as mentioned above I was just trying to get your op

[2015-04-09 08:24] patrickharris commented on #11
Thanks for the cache link.

[2015-04-09 08:50] patrickharris opened #16 "Delete long lived cache"
I can't see a way to delete the long-lived cache. If there is no way, can we add to the Network:

    public function deleteCache() {
        $cache = $this->cache;
        $cache->deleteAll();
    }

[2015-04-09 09:02] patrickharris commented on #11
I think the idea of export and restore makes sense, but only if you decide never to interrupt a tts with another. I guess concurrent tts requests would get added to the current queue, at the end of which, the initial state would be restored.

[2015-04-09 10:04] duncan3dc commented on #16
The way to clear the cache is to pass in your own Cache instance, this is the power of dependency injection, you are in complete control of the cache. So rather than having to add a bunch of Cache methods to the Network class, we just accept a cache instance that you can do anything you want with:

[code]

[code]

I would always recommend passing in a Cache instance, so you can manage it how your

[2015-04-09 10:04] #16 closed

[2015-04-10 06:37] 889laurent commented on #11
i think is more better if you give possibility to choose the language in your api with variable !

[2015-04-10 06:42] 889laurent commented on #11
i think is more better if the state of controller volume is saved

[2015-04-10 07:13] duncan3dc commented on #11
The controller doesn't have a volume, speakers that it controls do, but I'll give it some thought

[2015-04-15 08:23] 889laurent opened #17 "Add command for save state of every speker and pause"
in my house, i want to play tts alert message on all speaker (or special speaker).
i create a controller with all speker i want to add, before i want to save state and pause(speaker are playing) speaker.
play tts with special volume
after play tts, restore state before create group and play speaker with state pause.

if you add an function with everything i talk before, its a good idea

[2015-04-15 08:27] duncan3dc commented on #17
Once the TTS functionality and Export/Restore State is done I will consider whether this makes sense to put in the library, or be handled in user code by developers that want this specific functionaity

[2015-04-15 08:31] 889laurent commented on #17
thanks for your reply. This function will be interesting for inexperienced Developer. Maybe to give the example only

[2015-04-16 17:08] zoic21 opened #18 "URI in place of title on play playlist"
Hi,

First, thank for your work it's amazing !!!!
It's perfectly work for me exept when I aad track of playlist to queue it's work but I get uri in track title in place of real title and no artist, no album no thumbnail....

[2015-04-16 17:10] zoic21 commented on #7
Is there any new of suppoer Connect and Connect AMP ? How can I help you to support those ?

[2015-04-16 18:29] duncan3dc commented on #7
Unfortunately I have no plans to purchase a Connect or Connect AMP, so support for these is unlikely.

I will be working on support for other inputs (TV, stereo, etc) from Play:5 PlayBar. After I purchase a Play:5.

What other features to Connect or Connect:AMP offer?

[2015-04-16 21:26] rjgdesign opened #19 "TuneIn support?"
This is perfect, or nearly perfect!

Is there TuneIn support? Would love.

[2015-04-16 21:33] duncan3dc commented on #19
I'll look into this

[2015-04-16 21:33] duncan3dc commented on #18
Do you have some sample code? Or a uri you are adding?

[2015-04-16 21:34] rjgdesign commented on #19
Super! Be much appreciated, really would. :)

[2015-04-16 22:04] rjgdesign commented on #19
Also, is there anyway I could upload this to a web server, and use it from there? If so, how would I go about that? Cheers!

[2015-04-16 22:07] duncan3dc commented on #19
The web server would need to be on the same network as your Sonos devices, you can run a webserver from php anywhere though: http://php.net/manual/en/features.commandline.webserver.php

[2015-04-16 22:10] rjgdesign commented on #19
Ah okay. So a device always has to be on, to run it.

[2015-04-17 07:07] zoic21 commented on #7
For now nothings work on connect, when I tried play fonction I can an error tht say it's not a speaker. I used 1.1.3 version, I tried with 1.2.X dev version but same error : No speaker found for the IP address

[2015-04-17 07:13] zoic21 commented on #18
Yes here my code :
[code]

And result in queue :
![capture](https://cloud.githubusercontent.com/assets/1536036/7197486/fb270288-e4e1-11e4-8516-7eb7b50d5167.PNG)

[2015-04-17 09:47] zoic21 commented on #7
Finally a find how, I just add "ZP90" => "Connect" to Device.php :
----
	public function isSpeaker() {
		$model = $this->getModel();

		$models = [
			"S1" => "PLAY:1",
			"S3" => "PLAY:3",
			"S5" => "PLAY:5",
			"S9" => "PLAYBAR",
			"ZP90" => "Connect",
		];

		return in_array($model, array_keys($models), true);
	}
----

And my connect work perfectly

[2015-04-17 15:10] duncan3dc commented on #7
The connect is not added there as @889laurent reported in issue #5 that it gave him an error.

As I don't have the devices I'm not really bothered either way. If you 2 would like ZP90 and ZP120 to be listed as valid speakers then I'll do that, can you both confirm you want this? Thanks

[2015-04-17 15:15] duncan3dc commented on #7
This is available in 1.1.4

[2015-04-17 15:15] #7 closed

[2015-04-17 16:01] zoic21 commented on #7
Thank it's work

[2015-04-24 11:53] duncan3dc commented on #11
Almost there guys, and I think I will add an `interupt()` method to handle the backup/restore common case.

Just need to handle streams and then it should be ready for release, I'll update this issue again when it's ready for testing. Thanks

[2015-04-24 11:57] duncan3dc commented on #17
Grouping and ungrouping speakers can be quite fragile and sometimes take a couple of seconds to do, so I'm hesitate to add any code that depends on those actions running smoothly.

However, when version 1.2 is released you will be able to do this:
[code]

So they won't necessarily be in sync, but they will all play the announcement and then continue what they were doing before.

[2015-04-24 11:57] #17 closed

[2015-04-24 23:33] duncan3dc commented on #11
OK the 1.2 branch has been updated now, I think I've covered everything you've mentioned. I'd be grateful if you give it a test and see if there's anything I've missed before I release it.

I've updated the [gist](https://gist.github.com/duncan3dc/e73734297a04c3ba4002) to use the new `interrupt()` method, so you don't need to manually backup state and sleep, etc.

Thanks for your help with this

[2015-04-24 23:34] bensquire opened #20 "Help me understand..."
Great library, thanks for all the effort!

Quick question. I'm trying to share music from my Mac, i can get it to take music thats served over http (like this http://www.tonycuffe.com/mp3/tail%20toddle.mp3). However I want to share using SMB/CIFS as well?

All I've been able to achieve so far are (uPNP) 701 errors. Below is a sample of my code:

[code]

and the error I receive:

[code]

![screen s

[2015-04-24 23:43] duncan3dc commented on #20
Hey Ben, thanks, glad you're finding it useful.

I presume your cifs share works from the official Sonos app?

Could you try turning logging on and posting the result in a gist?
You can do this using `monolog` like so:
[code]

[2015-04-25 16:37] bensquire commented on #20
Thanks @duncan3dc ,

As it happens you've indirectly given me the answer to the question... By adding the folder I wanted to share into Sonos, I was able to see the CIFS share name, which when I plugged into my code.

Et Voila!

Can I suggest something is added into the documentation around folder sharing and streaming as this would make the already excellent documentation, practically perfect.

T

[2015-04-25 18:55] duncan3dc commented on #20
So the problem was you were using the IP address instead of the hostname?

If so then I'll put something in the docs once 1.2 is released

[2015-04-25 18:55] #20 closed

[2015-04-28 13:46] 889laurent commented on #18
I have the same problem

[2015-04-29 11:19] 889laurent commented on #11
good morning, thanks for your job. I test tts on play 1,3 connect amp , connect and play bar. There are error with play bar when numerical input on tv is on ('UPnPError: 701'). The interupt function is ok. i dont find how play in "fr" lang ?

[2015-04-29 11:24] duncan3dc commented on #11
Thanks for the feedback @889laurent I'm just finishing up the documentation and then I will tag a new release.

You can set the language (as well as the google domain) on the `TextToSpeech` object after you create it:
[code]
All of those methods are chainable:
[code]

[2015-04-29 11:28] 889laurent commented on #11
thanks and ok for fr .

[2015-04-29 11:31] 889laurent commented on #17
y have an error message with code (PHP Fatal error:  Call to undefined method duncan3dc\Sonos\Controller::interupt() in /var/www/duncan2/testtts.php on line 20)
line 20 :  $controller->interupt($track);
thanks for your help

[2015-04-29 11:32] duncan3dc commented on #17
`interrupt` should have 2 `r`'s in it

[2015-04-29 11:34] 889laurent commented on #17
ok

[2015-04-29 11:35] 889laurent commented on #17
sorry

[2015-04-29 11:36] 889laurent commented on #11
if y want to play "interrupt track" with special volume , please help me with the best method

[2015-04-29 11:49] 889laurent commented on #17
i test this code
$sonos->getControllerByRoom("Salon TV")->interrupt($track);
$sonos->getControllerByRoom("Piscine")->interrupt($track);
$sonos->getControllerByRoom("Pergola")->interrupt($track);
and there are error upnp 711
when i erase 1 line or i test with 1 line its works fine ? the error is when i have >= 2 lines

[2015-04-29 12:04] 889laurent commented on #11
if i want to play with special volume, i used this code
$v = $sonos->getControllerByRoom("Salon TV")->getVolume();
$sonos->getControllerByRoom("Salon TV")->setVolume(100)->interrupt($track)->setVolume($v);

its better if they are include in interrupt function

[2015-04-29 12:06] duncan3dc commented on #11
@889laurent It is already available in the `interrupt()` method, please wait for the documentation/release

[2015-04-29 12:06] 889laurent commented on #11
sorry i wait

[2015-04-29 12:09] duncan3dc commented on #11
No problem @889laurent I like your eagerness. I will try and release tonight

[2015-04-29 12:11] duncan3dc commented on #18
Sorry for the delay.

What is the source of those tracks @zoic21? Eg, Spotify, Rdio, etc

[2015-04-29 12:14] 889laurent commented on #11
i find alone   interrupt($track, $volume=100)  im happy

[2015-04-29 12:15] 889laurent commented on #18
in my case deezer source

[2015-04-29 13:01] zoic21 commented on #18
For me it's google music

[2015-04-29 21:34] duncan3dc commented on #11
Version 1.2.0 has just been released

[2015-04-29 21:34] #11 closed

[2015-05-13 07:42] zoic21 opened #21 "UPnPError: 701 and UPnPError: 711"
Hi,

I have this errorabout twice a day. What does it mean ?

Thank in advance

[2015-05-13 07:45] duncan3dc commented on #21
701 is `'Transition not available'` which sounds like trying to play music when it's playing, or maybe trying to play an empty queue.
711 is `'Illegal Seek Target'` which sounds like trying to seek beyond the end of a song, or to the next track when you're already at the end of the queue.

There is a comprehensive list of UPnP error codes at the link below:
https://msdn.microsoft.com/en-GB/library

[2015-05-13 07:45] #21 closed

[2015-05-14 14:50] zoic21 opened #22 "Support change of service generation for TTS"
Hi,

It's possible to change (or allow user to specify is own service) for TTS, Google is pretty limited but voxygen not :
[code]

Thank in advance

[2015-05-14 14:58] duncan3dc commented on #22
Yes I've been working on this since release, I'll let you know when it's ready

[2015-05-14 16:09] zoic21 commented on #22
Perfect, thank

[2015-05-20 19:47] duncan3dc commented on #22
This will make it into the next release (1.3), you can test out the development version like so:

[code]

[code]

The text-to-speech conversion will now be handled by the [duncan3dc/speaker](https://github.com/duncan3dc/speaker) project

[2015-05-30 12:24] duncan3dc commented on #19
Sorry for the delay, this is now available in [version 1.3.1](http://duncan3dc.github.io/sonos/services/radio/)

[2015-05-30 12:26] duncan3dc commented on #18
Thanks to @mahlstrom this is fixed in version 1.3.1

[2015-05-30 12:26] #18 closed

[2015-05-30 12:27] duncan3dc commented on #22
This is available in [version 1.3.1](http://duncan3dc.github.io/sonos/fun/text-to-speech/) now

[2015-05-30 12:27] #22 closed

[2015-05-30 13:17] zoic21 opened #24 "Title of radio"
Hi,

I just test radio support, but I can't find how can I get the radio name ?

Thank in advance

[2015-05-30 13:22] zoic21 commented on #18
It's not OK for me, with fix of mahlstrom on version 1.2.0 it's ok but in 1.3.1 same issue

[2015-05-30 13:32] duncan3dc commented on #18
Sorry @zoic21, if you try `1.3.2` it should be all good

[2015-05-30 13:40] duncan3dc commented on #24
Sorry, looks like I messed up the release and missed some code, I'll get a patch release together shortly...

[2015-05-30 13:43] duncan3dc commented on #19
As this is very basic support I'm going to re-open this issue until we can search for stations/shows by name, and other essential features

[2015-05-30 13:49] duncan3dc commented on #24
This is in version 1.3.3 now

[code]

Keep an eye on issue #19 for further radio features

[2015-05-30 13:49] #24 closed

[2015-05-30 14:24] zoic21 commented on #18
It's ok now, thank

[2015-05-30 15:10] zoic21 commented on #24
Thank it's work

[2015-05-30 15:12] zoic21 commented on #19
I juste test this fonctionality and it's ok (of course search by name can be usefull). But I have one question when I play a radio hox can I return to playlist ? I see my playlist on sonos interface but I don't know how can I switch from radio to playlist.

[2015-05-30 15:32] duncan3dc commented on #19
@zoic21 Do you mean the queue? The [docs](http://duncan3dc.github.io/sonos/controllers/queue/) have info on how to switch between using a queue or using a stream. If the docs are missing something please let me know and I'll get it added

[2015-05-30 15:37] zoic21 commented on #19
Thank I missed this doc it's perfectly work

[2015-05-30 15:59] duncan3dc commented on #19
`Radio::getFavouriteStation($name)` and `Radio::getFavouriteShow($name)` are [now available](http://duncan3dc.github.io/sonos/services/radio/)

[2015-05-30 15:59] #19 closed

[2015-06-06 03:24] breath20 opened #25 "Add Track from Spotify: bad title, no preview image"
So i have been playing around with adding a track via streaming or a queue that is a spotify track. When i do it plays fine, but on the sonos app it does not have the correct title or album art (its blank)

I tried pushing that information into the track but it didn't seem to take so i'm not sure whats going on.

$track = new \duncan3dc\Sonos\Tracks\Track("x-sonos-spotify:6ZOBP3NvffbU4SZcrnt1k6?si

[2015-06-06 14:46] duncan3dc commented on #25
You need to produce the relevant metadata to get it to display the track information. Unfortunately it seems to require some [hashed value](https://github.com/duncan3dc/sonos/blob/c0068112913383b389ae9aa9f5713e5fbc539e3d/src/Services/AbstractSpotify.php#L55) that I've not been able to figure out yet.

I didn't know it could be done as a stream like in your example though, so might investigate that

[2015-06-14 20:10] 889laurent commented on #18
with list under deeper on version 1.3.5 the problem is present
![capture d ecran 2015-06-14 a 22 06 54](https://cloud.githubusercontent.com/assets/8254672/8150236/0fcbc7a4-12e2-11e5-91fa-f56fbe011a2c.png)

[2015-06-15 11:31] 889laurent commented on #18
its deezer , no deeper ! sorry

[2015-06-16 11:15] 889laurent opened #26 "error with name of tracks when use interrupt with deezer list"
Good morning, i opened this issues because i install the last version and when i use interrupt command and i have a playlist with deezer tracks the name in the list are with bad format (x-sonos-http:tr:1213131313.mp3....)
![capture d ecran 2015-06-14 a 22 06 54](https://cloud.githubusercontent.com/assets/8254672/8181814/7c30f5d4-1429-11e5-8c09-0949d4351309.png)

[2015-06-16 11:21] 889laurent opened #27 "long time after interrupt command with long playlist"
when i use interrupt command with a long playlist (200 Tracks) , there is a long time to replay interrupt track. i think it's better to add interrupt-track a the end of list and remove after.
for test i tried this:
- save state (volume, number of playing track , ...)
- shuffle off
- add track
- play
- remove track
-restore state

[2015-07-06 11:23] 889laurent commented on #26
sorry for my demand . Have you identified the bug or its my config ?

[2015-07-06 13:17] duncan3dc commented on #26
Sorry for the lack of feedback, it looks like a bug but I've not found time to investigate yet

[2015-07-06 13:18] duncan3dc commented on #27
That's an interesting idea, I'll have to play around with it a bit first, feel free to submit a pull request though

[2015-07-06 13:21] 889laurent commented on #26
thanks for your feedback.

[2015-08-29 19:49] duncan3dc commented on #27
Version 1.5 improves the performance when adding multiple tracks to a queue (this was the cause of the speed issue with `interrupt()`)

I ran some tests before and after, with 274 tracks in the queue:
[code]

[2015-08-29 19:49] #27 closed

[2015-09-01 18:31] dccampbell opened #29 "ZP80 Support"
`isSpeaker()` in `Device.php` defines speakers by their model number, but is missing the original ZonePlayer, the ZP80. This prevents getting data from the device nor any groups it's a part of. I believe it should work the same as a ZP90, and just needs to be added to the static list.

[2015-09-01 18:36] duncan3dc commented on #29
Can you edit your version to add in `ZP80` and `ZP90` and then check if it works? I'd rather have confirmation that they work correctly before adding in code that says they do

[2015-09-01 21:29] dccampbell commented on #29
Added the ZP80 and so far I'm not having any issues. I'm getting all the expected data now just like the other models. :+1:

[2015-09-08 15:55] duncan3dc commented on #29
This will be available in version `1.5.1` shortly

[2015-09-08 15:55] #29 closed

[2015-09-08 16:07] 889laurent commented on #26
good morning, have you resolved the problem ?
thanks

[2015-09-08 20:14] duncan3dc commented on #26
No, as I don't have a Deezer subscription this is going to be very difficult to investigate and provide a solution for

[2015-09-08 23:24] dccampbell commented on #25
This might be relevant to this issue, I just noticed that I never get album art when streaming Spotify, or more accurately I get a malformed image url.

It looks like in this case the albumArtURI is a complete url as opposed to a relative path, so the bit at the bottom of `Track.php` where the URI is appended to the controller IP throws it off (resulting in albumArt returning `http://sonos-ip:1400

[2015-09-09 05:29] 889laurent commented on #26
Thanks for your answer. if you want i,m give you may id et pass of deezer by mail

[2015-09-09 07:54] duncan3dc commented on #25
Thanks @dccampbell, 1.6.0 will have better Spotify support, and I'll make sure album art is handled as part of that

[2015-09-09 09:55] duncan3dc commented on #26
That would be great, if you could send it to `git` `AT` `duncanc.co.uk` I'll see if I can sort something out this week for you

[2015-09-09 21:12] duncan3dc commented on #26
Thanks for that @889laurent, this should be fixed in version `1.6.0` now.
And there's also a [Deezer](http://duncan3dc.github.io/sonos/services/deezer/) class that allows you to add tracks

[2015-09-09 21:12] #26 closed

[2015-09-09 21:14] duncan3dc commented on #25
Version `1.6.0` just released has support for adding [Spotify tracks](http://duncan3dc.github.io/sonos/services/spotify/) and should fix the album art issue

[2015-09-09 21:14] #25 closed

[2015-09-10 02:58] breath20 opened #31 "Getting a UPnPError: 800 when trying to use the Spotify Track"
Not sure whats going on, but still am unable to make the Spotify Track work (was so excited :p )

$sonos = new \duncan3dc\Sonos\Network;
$controller = $sonos->getControllerByRoom("Bathroom");
if (!$controller->isUsingQueue()) {
    		$controller->useQueue();
    	}
$queue = $controller->getQueue();
$queue->clear();
$track = new \duncan3dc\Sonos\Tracks\Spotify("1Jb9SZDqMN5Zyxiwy6eiEA");
$queue->add

[2015-09-10 07:39] duncan3dc commented on #31
That code works for me, I wonder if we need a different [token](https://github.com/duncan3dc/sonos/blob/ddeec250933bb59fa85d5ce31c7890e5a459ba3d/src/Tracks/Spotify.php#L47) per account/system.

I think there's some kind of session token lookup in Sonos, I'll see if I can find something on that

[2015-09-10 13:14] breath20 commented on #31
Do some quick googling it looks like "SA_RINCON2311_X_#Svc2311-0-Token" refrences a EU service for spotify, i'm not running off a EU service for spotify im in the US. Could be the problem

[2015-09-10 13:16] duncan3dc commented on #31
That'll be it, at least that's easier to handle than a per user one. I'll see if I can find the token for each Spotify service and add a configuation option for it

[2015-09-10 22:15] breath20 commented on #31
So looking at my sonos info, it uses "SA_RINCON3079_X_#Svc3079-0-Token" if i replace it with that works like a charm.

[2015-09-11 21:27] breath20 opened #32 "Does this api support Grouping Speakers together to play the same Queue"
Looking at the code i'm not sure it does, but if it can great. If not i will be branching and making it work :)

[2015-09-11 21:52] duncan3dc commented on #32
It sure does:
[code]
Relevant section of the [docs](http://duncan3dc.github.io/sonos/controllers/speakers/)

[2015-09-11 21:52] #32 closed

[2015-09-16 09:12] remo-moddit opened #33 "TrackFactory missing on Playlist"
When using Playlist.getTracks or Playlist.addTracks, an error is thrown about Playlist.trackFactory not being an object. Trackfactory is initialized in the constructor of base class Queue, but not in the constructor of Playlist.
Propably this line should be prepended to Playlist->__construct() :
[code]

[2015-09-16 11:05] duncan3dc commented on #33
Sorry about that, that should be fixed in release `1.6.1`

[2015-09-16 11:05] #33 closed

[2015-09-18 10:02] zoic21 opened #34 "TTS : use SMB directly without local mount"
Hi,
I see commit with flysystem I wonder if it's possible to directly push mp3 file to smb share (with flysystem-smb) without mount it to local filesystem ?

Thank in advance

[2015-09-19 14:40] zoic21 opened #35 "Upnp 800 on playlist with google music"
Hi,
I just swith from 1.3.5 to 1.6.1 and now I get upnp error 800 on all playlist using google music. I test with local music and it's ok.

I check track object and it's  : "duncan3dc\Sonos\Tracks\Deezer Object" , why I have deezer track object ? I don't use deezer...

I search and I found where is the issue, it's in Facttory.php in line 39 :
[code]
For google music prefix is the same as deezer :

[2015-09-19 15:53] duncan3dc commented on #35
Looks like the fallback to a basic Track doesn't work, I'll see what I can do

[2015-09-19 15:59] duncan3dc commented on #34
Sure, just pass your flysystem instance to the `Directory` class (instead of the local path string):

[code]

http://duncan3dc.github.io/sonos/fun/announcements/

[2015-09-19 15:59] #34 closed

[2015-09-19 18:04] zoic21 commented on #34
Thanks a lot it's perfectly work

[2015-09-19 19:01] duncan3dc commented on #31
This is available in `1.7.0` now:
[code]
[http://duncan3dc.github.io/sonos/services/spotify/](http://duncan3dc.github.io/sonos/services/spotify/)

[2015-09-19 19:01] #31 closed

[2015-09-19 19:01] duncan3dc commented on #35
This should be fixed in `1.7.0`

[2015-09-19 19:01] #35 closed

[2015-09-19 19:23] zoic21 commented on #35
Perfect it's work, thank a lot

[2015-10-03 08:18] zoic21 opened #36 "Fatal error when sonos is in component input mode"
Hi,

I think I found a little bug when sonos (play 5 in my case) is in local input mode, i get this :

[code]

Thank in advance

[2015-10-04 10:53] duncan3dc commented on #36
Thanks @zoic21, I never use local music so I might have missed something here.

I'm on holiday this week but I'll take a look as soon as I can next week for you

[2015-10-13 00:39] Paco777 opened #37 "Adding a track to a playlist"
Hi,
Thanks a lot for this php library. It gives a lot of possibilities !

Is the functionality to add a track to a playlist still working ?
Everything I've been trying so far has no effect.

I can get an existing playlist, and get the existing tracks in it. I can also clear it (if not empty), however adding a new track to it gives no error but does not seem to work.

Am I missing something ?

[2015-10-13 08:11] duncan3dc commented on #37
It looks like something broke in version `1.5.0`, you can use `1.4.2` for now until I can get it fixed

[2015-10-13 14:58] Paco777 commented on #37
Thank you !
With 1.4.2 (and a few things from 1.5.0), I have everything working as expected.

[2015-10-16 18:37] duncan3dc commented on #37
This is fixed in `1.7.1` thanks for your patience

[2015-10-16 18:37] #37 closed

[2015-10-17 20:41] Paco777 commented on #37
Thank you :)

[2015-10-18 10:41] zoic21 opened #38 "Create method to manually add speaker"
Hi,
It's possible to create method tp manually add speaker ? I explain if I run sonos php file into a docker the discovery failed due to network (docker create an internal network so SSDP failed). But if I known IP of sonos I think I can control them and get information of it.

Thank in advance.

[2015-10-18 11:29] duncan3dc commented on #38
Sure, you should be able to do the following:
[code]

Does that work?

[2015-10-18 12:03] zoic21 commented on #38
Yes it's work but I need method on networks to reinject speakers like that

[code]

With it I can add speaker into network and all it's work. It's possible to add this function ?

[2015-10-18 13:06] duncan3dc commented on #38
Why do you need that? The `Network` class is only really used to find devices, if you already have the devices then what benefit does injecting them into your network instance give you?

[2015-10-18 13:14] zoic21 commented on #38
Because after that I need Controller, I known I can make it with speaker but I think use standard fonction like getControllerByIp is better. And I wonder if I don't reinject speaker into network function like getPlaylists will work ?

[2015-10-18 13:32] duncan3dc commented on #38
Ok I see, it should be possible to do everything with a network instance, but I guess it's a little awkward, let me give it some thought

[2015-10-18 13:33] zoic21 commented on #38
Thank in advance (for all your work)

[2015-11-03 20:52] christwigg1974 opened #39 "Fatal error: Uncaught exception 'RuntimeException'"
Firstly, thanks for writing such an amazing API.

I'm receiving the following error
Fatal error: Uncaught exception 'RuntimeException' with message 'No devices found on the current network' in C:\xampp-composer\htdocs\soco\vendor\duncan3dc\sonos\src\Network.php:215 Stack trace: #0 C:\xampp-composer\htdocs\soco\vendor\duncan3dc\sonos\src\Network.php(377): duncan3dc\Sonos\Network->getSpeakers() #1 C

[2015-11-03 21:02] duncan3dc commented on #39
Hi Chris, I presume your Sonos devices are on the same network as the server you are running the PHP code on?

What Sonos devices do you have?

[2015-11-03 21:40] christwigg1974 commented on #39
Hi Craig

I really appreciate you helping me.

Yes all on the same network 192.168.0.0/24

I have a sonos
Play 3 192.168.0.101
Play 5 192.168.0.125

Sent from my iPhone

[2015-11-03 22:27] duncan3dc commented on #39
Ok, could you try turning logging on and posting the result in a gist?
You can do this using `monolog` like so:
[code]
[code]

[2015-11-03 22:39] christwigg1974 commented on #39
I have installed monlog and added code but no log files are being produced.

<?php
require_once __DIR__ . "/vendor/autoload.php";
use duncan3dc\Sonos\Network;
$sonos = new Network;
$logger = new \Monolog\Logger("sonos");
$handler = new \Monolog\Handler\StreamHandler("/tmp/sonos.log", \Monolog\Logger::DEBUG);
$logger->pushHandler($handler);
$sonos->setLogger($logger);
?>

[2015-11-03 23:01] christwigg1974 commented on #39
[2015-11-04 00:00:49] sonos.INFO: creating speaker instances [] []
[2015-11-04 00:00:49] sonos.INFO: discovering devices... [] []
[2015-11-04 00:00:49] sonos.DEBUG: M-SEARCH * HTTP/1.1 HOST: 239.255.255.250:reservedSSDPport MAN: ssdp:discover MX: 1 ST: urn:schemas-upnp-org:device:ZonePlayer:1  [] []
[2015-11-04 00:00:50] sonos.DEBUG:  [] []

[2015-11-04 18:06] christwigg1974 commented on #39
I've managed to sort the problem by using an Ubuntu server installation.

Windows 8.1 clearly has a problem, maybe with sockets.

Just need to figure out how to use the code now.

Thanks for looking into it.

[2015-11-04 18:22] duncan3dc commented on #39
Ahh, maybe a similar issue to #4? Perhaps a windows firewall configuration issue?

Glad you got it working one way or the other, hope you find a solution to running on Windows

[2015-11-04 18:22] #39 closed

[2015-11-04 19:33] duncan3dc commented on #36
I don't have a play5 to test this out on, could you upgrade to a development version and gather some debug info for me?
[code]
[code]
If you add your code after that, then run it and post the contents of `/tmp/sonos.log` here or in a gist that should help to investigate

[2015-11-04 20:38] zoic21 commented on #36
Hi,
Unfortunatly I can reproduced the issue... I don't understand why. I leave log enable if I can reproduce it.

[2015-11-04 20:44] zoic21 opened #40 "UPnPError: 710 on getFavouriteStations"
Hi,
This issue I can reproduced it when I want (not like the other). It's occur when I call getFavouriteStations I alway get UPnPError: 710. Here the log :

[code]

And the error detail :
[code]

[2015-11-04 22:43] christwigg1974 opened #41 "Group players, save state, make announcement/TTS, resume."
Hi, It's not an issue.... Its me, i need help creating code. I'm not a coder, far from it.
I'm doing some home automation and require a doorbell to be played through sonos. Group players, save state, make announcement/TTS, resume state.

I have created the code below which does work for one controller/speaker only, Is there a better way to achieve the desired effect. Ie without creating a sleep, i

[2015-11-09 07:06] mhercelin commented on #36
Hello,

Same error here in local input mode.

@zoic21 can you help me to enable this log in Jeedom ? Is composer installed ?
PI, I'm Malabar on Jeedom's forum.
Thanks

[2015-11-09 09:36] zoic21 commented on #36
Hi,
I think it's due to sonos lib version, on last plugin beta is not the last sonos lib version.

[2015-11-19 20:29] csahut opened #42 "get/setVolume vs groupVolume"
Hi,

 Would it be possible to have a differentiation between the get/setVolume for a speaker and for a group? When players are grouped, setVolume for example set the same volume for all speakers. I would like to adjust each volume individually while playing the same song in a group (I want to create scenarios with different volume sets depending on where I am in the flat).

This feature is availab

[2015-11-19 20:37] duncan3dc commented on #42
You can set the volume for a group using a [Controller](http://duncan3dc.github.io/sonos/controllers/volume/).
You can set the volume for a speaker using a [Speaker](http://duncan3dc.github.io/sonos/usage/speakers/)

Is that what you need?

[2015-11-19 20:38] duncan3dc commented on #41
As you mentioned, the `interrupt()` method does exactly what you need, what error are you seeing when you try it?

[2015-11-19 20:42] csahut commented on #42
Yes! Sorry for the noise. Actually I use Sonos plugin for Jeedom (which uses your library) and this does not make the differentiation. I quickly looked at the code and didn't find an groupVolume function, I thought it was just not implemented in your library. I'm going to check at the plugin level then.

Thanks for your help and for your work!

[2015-11-19 20:59] duncan3dc commented on #42
No problem, glad you're finding the library useful

[2015-11-19 20:59] #42 closed

[2015-11-19 21:11] duncan3dc commented on #40
Sorry about that, this is fixed in 1.7.3 now

[2015-11-19 21:11] #40 closed

[2015-12-02 18:56] zoic21 commented on #36
Hi,
I can reproduce this issue en correct it (but I don't understand the real error), it's on this function : https://github.com/duncan3dc/sonos/blob/master/src/Controller.php#L131.

[code]

Is not enought I add one more test and it's ok :
[code]
Nervetheless I don't understand why it's juste stop without any error on this line :
[code]
I thing it's due to $parser->getTag("item").

[2015-12-02 19:18] duncan3dc commented on #36
Can you run the logging described above, that will give me the info I need go fix it

[2015-12-02 19:24] zoic21 commented on #36
The log :
[code]

[2015-12-02 19:38] duncan3dc commented on #36
Is that using the `dev-logging` release? There should be more info than that

[2015-12-03 13:23] zoic21 commented on #36
Sorry, here complete log :
[code]

[2015-12-03 14:09] duncan3dc commented on #36
It looks like that output is missing the xml tags, and is only showing their content, maybe it was shown via a browser or some other html renderer. Could you provide the plain text from the log file?

[2015-12-03 14:33] zoic21 commented on #36
Sorry (again), indeed browser interpret my log :
[code]

[2015-12-03 14:33] duncan3dc commented on #36
No problem, that's perfect now, let me take a look

[2015-12-03 16:20] duncan3dc commented on #36
This should be fixed in [1.7.4](https://github.com/duncan3dc/sonos/releases/tag/1.7.4) now, thanks for your patience

[2015-12-03 16:20] #36 closed

[2015-12-03 16:48] zoic21 commented on #36
It's perfectly work, thank

[2016-01-09 11:46] cleesieboy opened #43 "No devices found on multi-NIC setup"
Hi, trying to get this up and running on my (linux Debian) server that has two NIC's (one for my internal LAN and one for external WAN). I get the "No devices found on the current network" message. Forcing all SSDP calls to a specific NIC by setting up a static route solves the issue, but it'd be preferable if this could be handled directly from the API. Or am I going about this the wrong way?

[2016-01-09 19:08] duncan3dc commented on #43
That sounds like something the library should handle, can you test out a development version for me to see if it solves your problem?
[code]
[code]

[2016-01-10 10:03] cleesieboy commented on #43
After realising I had to delete the cache, that indeed did the trick! Great work! :)

[2016-01-10 14:50] duncan3dc commented on #43
Sorry for not mentioning the cache. The [setNetworkInterface()](https://duncan3dc.github.io/sonos/setup/#ssdp-discovery) method is available in [1.8.0](https://github.com/duncan3dc/sonos/releases/tag/1.8.0) now

[2016-01-10 14:50] #43 closed

[2016-03-11 15:49] #41 closed

[2016-03-11 15:54] duncan3dc commented on #38
I've done [some work](https://github.com/duncan3dc/sonos/commit/08f7e7872400e9381fb1d0940cd61c159b78714c) on this, but it will form part of the next major release (2.0) with some backwards incompatible changes. But when it's ready you'll be able to do something like:
[code]

[2016-04-15 19:08] zoic21 opened #48 "Add google music service"
Hi,

I would like to play a "theme playlist" (or radio like google call it), I think for now it's not possible, how can I provide "tools" to add this ?

Thank in advance.

[2016-04-15 21:20] duncan3dc commented on #48
Hi, it should be possible, we just need to support the `x-rincon-cpcontainer` syntax. I had a go when I was working on Spotify tracks (to support albums) but I ran into some issues. I'll take another look when I get some time

[2016-04-23 19:00] hyperbolic2346 opened #49 "Problem with groups"
I'm in the alpha for Sonos, so maybe something has changed, but I'm not seeing consistent results from the library. Here is an example program:

[code]

And here is the output:

[code]

Notice the Nursery speaker has a group that doesn't match the controller's group. Is the :126 part new from the alpha?

[2016-04-24 09:49] duncan3dc commented on #49
Is the only issue the group ID? Is it still recognising the correct speakers in each group?

Do you have any stereo pairs?

Could you get some [log data](https://duncan3dc.github.io/sonos/logging/) so I can check if anything has changed in the alpha.

Make sure to [clear the cache](https://duncan3dc.github.io/sonos/setup/#cache) or use something like ArrayCache

[2016-05-04 22:26] Nibbler73 opened #50 "Accessing Sonos Favorites"
Hello,

I'm experimenting by building a simple and child-proof controller for the sonos box. Based on a RPi with the Touchscreen and as I'm developing this in PHP, your sonos library seems to be the awesome tool to talk to Sonos.

I'd like to list the **Sonos Favorites** in a cover-flow style and start playing the selected Spotify/Radio/Whatever if tapped on.

I can fetch the Playlists from the Ne

[2016-05-05 19:37] duncan3dc commented on #50
Hi, the library doesn't support Sonos Favourites at the moment. I'll take a look at adding this when I get some time

[2016-05-08 19:50] duncan3dc commented on #50
I've done a bit of work on this (on the [favourites](https://github.com/duncan3dc/sonos/tree/favourites) branch), but as these lists can contain tracks, streams, and collections of tracks. It's not simple to handle them, eg:
[code]
I'll continue to think about it, but it might require changing some existing classes and therefore need to be part of [2.0](https://github.com/duncan3dc/sonos/tree/2.0)

[2016-05-09 17:50] Nibbler73 commented on #50
This looks promising, thanks.

From the Controller-App on mobile devices, I would assume the `Collection` or `Countable` returned is most probably a Playlist from the Favourites.

Should fetching the favorites work like this?

`$favourites = $sonos->getFavourites();`

I'll give it a try and see if I can start working with the new Favourites() object.

Thanks for the quick reaction.

[2016-05-09 17:53] duncan3dc commented on #50
Yeh a countable would be a playlist, it could be a Spotify playlist, or a Sonos playlist, or anything else though.
I've not added a `$sonos->getFavourites()` method yet, but that would probably make it in once I've figured everything else out

[2016-07-11 01:11] weenerberg opened #52 "Make it possible to change TTS voice (Voxygen) for already generated message"
Hi,

Currently the MD5 generated filename for an mp3 is only based on the message which (afaict) makes it impossible to play the same message with a new voice without deleting the cached ile.
By just adding which voice label it is generated with it to the MD5 input it is possible to generate a new file if a new voice is used.

I guess there could be some implications:
* If the voice of the provide

[2016-07-11 09:27] duncan3dc commented on #52
Hmm, we should be using the [generateFilename()](//github.com/duncan3dc/speaker/blob/d273dbcc800de617dce66753c67b8db189301bef/src/TextToSpeech.php#L60) method from [duncan3dc/speaker](//github.com/duncan3dc/speaker) which handles all this for us, not sure why we are creating the filename directly in here.

I'll take a look at making the change soon

[2016-08-13 15:30] mwi438 opened #53 "problems with grouping speakers"
Hi,

first of all thanks a lot for this great library!

I'm facing a problem when grouping speakers. What I want to achieve is that always the same two players are grouped together an my favorite radio station starts playing.
Because sometimes my family creates different groups I first remove a speakers to their own and then put the two players together.

This is my script:

[code]

This generally

[2016-08-13 16:46] duncan3dc commented on #53
Hi Martin,

I've seen similar issues myself, and I think it's related to the caching this library does.

Can you try to the following as a workaround until I get it fixed/improved:
[code]

[2016-08-13 20:40] mwi438 commented on #53
Hi Craig,

thanks for your fast reply!
This seems to work for me - it's a bit slower than before but I was not able to reproduce the error using your lines up to now... :-)

Thanks again for your excellent work,
Martin

[2016-09-12 19:09] duncan3dc commented on #52
@weenerberg Sorry for the delay with this, it's available now in [1.9.2](https://github.com/duncan3dc/sonos/releases/tag/1.9.2)

[2016-09-12 19:09] #52 closed

[2016-09-12 19:10] duncan3dc commented on #49
@hyperbolic2346 Please feel free to re-open this issue if you can provide the information above

[2016-09-12 19:10] #49 closed

[2016-10-04 17:40] Tobseb opened #54 "Soap-Request loop when trying to get more tracks from queue than avaliable"
I get the following soap-request-loop when trying to get more tracks from a queue than available.

I am just using the following code:
`$queue->getTracks($state->queueNumber + 1, 4)`

Because the doc say "The **maximum** number of tracks to return" I expected not to check manually whether the queue is that long or not.

[2016-10-04 17:34:50] sonos.INFO: sending soap request to: http://192.168.0.16

[2016-10-04 17:42] Tobseb commented on #54
The problem clearly is this loop - Queue.php (line 138 to 149). Line 149 says it would only stop trying to get further (non-existent) tracks if there are more. But obviously there aren't..

`do {
            $data = $this->browse("DirectChildren", $start, $limit);
            $parser = new XmlParser($data["Result"]);
            foreach ($parser->getTags("item") as $item) {
                $tracks

[2016-10-04 17:43] duncan3dc commented on #54
Thanks @Tobseb, I'll take a look

[2016-10-04 18:51] duncan3dc commented on #54
Just for clarity, the issue isn't the number of tracks requested, it's the start position.

Asking `getTracks()` to start from a position in the queue that does not exist causes an infinite loop.

I've added a fix for this to [1.9.3](https://github.com/duncan3dc/sonos/releases/tag/1.9.3) available now

[2016-10-04 18:51] #54 closed

[2016-10-05 11:03] Tobseb commented on #54
@duncan3dc I had a look into it. For me it's no longer a loop out of infinite requests now, but there is still one unnecessary request if the queue is not that long.

Use the following example with a queue of 12 titles (so index 0 to 11).

[2016-10-05 10:56:37] sonos.INFO: sending soap request to: http://192.168.0.16:1400/MediaServer/ContentDirectory/Control {"BrowseFlag":"BrowseDirectChildren","S

[2016-10-05 11:27] duncan3dc commented on #54
Yeh I noticed that after I released last night, I'll take a look at removing the redundant final request when I get a minute

[2016-11-03 13:48] lsmith77 opened #55 "building my own iTunes genius for Sonos"
this is more a ticket to find like minded people. I want to build a simple solution that I can host on my NAS that will look at the current playing track on my Sonos and queue up a number of matching songs automatically.

the main challenge I guess will be finding an API that will index my personal music collection. if someone knows a useful API for this, that would be awesome.

also if someone wa

[2016-11-03 13:53] duncan3dc commented on #55
I do something similar to this, but not using my personal collection.
Last.fm has a reasonably good API for getting similar songs (eg http://www.last.fm/api/show/artist.getSimilar). So I have a program that looks at artists I've listened to recently, then finds similar artists, and queues them up on Sonos (or creates a playlist) using Spotify.

I've built my own software for managing my personal m

[2016-11-03 14:50] lsmith77 commented on #55
ok good to know that something like this is doable but I was quite confident it would be already :)

[2016-11-03 14:54] lsmith77 commented on #55
@duncan3dc BTW yeah I looked at last.fm too but I guess there is no way to limit the recommendations to songs that one has already played rather than their entire catalog?

in your solution I assume you also have integrated the last.fm into sonos to keep track of what you played on your sonos?

[2016-11-03 14:59] duncan3dc commented on #55
Yes, Sonos has support for Last.fm, you can add it (like a music service) and all your plays then scrobble to your Last.fm account.

I've not seen any option limit the recommendations, I guess you'd have to handle that manually

[2016-11-03 17:01] lsmith77 commented on #55
ok cool .. for now I will try out https://developers.musimap.net

[2016-11-10 14:29] zoic21 opened #56 "Launch spotify playlist"
Hello,

(Again) thank for your fork. I try to launch spotify playlist directly but I can't find how, I can launch one track but how can I launch a playlist ?

Thank in advance.

[2016-11-16 01:14] zwigglers opened #57 "Google music alternate url prefix"
When running this code using Google Music tracks
...
$tracks = $queue->getTracks();
$queue->clear();
$queue->addTracks($tracks);

The track display names would display a URI after removing/re-adding.

Turns out that while a few of my tracks have the URI prefix given in Tracks/Google, most of my tracks use a different prefix. As a temporary fix I've duplicated Tracks/Google with the new prefix. I d

[2016-12-27 00:05] mdubbelman opened #58 "Add new model number S12 for Play:1"
I've just bought a Play:1 and I could not get the API to find my controllers/speakers. After some debugging I found my Play:1 is not in your device list.
Could you please add it to the array of devices in \duncan3dc\Sonos\Device::isSpeaker() ?
The (new?) model is S12 as I found in the device_description.xml :
<img width="559" alt="screen shot 2016-12-27 at 1 01 13 am" src="https://cloud.githubuser

[2016-12-31 05:13] duncan3dc commented on #58
Thanks for the details @mdubbelman, this has been fixed in [1.9.4](https://github.com/duncan3dc/sonos/releases/tag/1.9.4)

[2016-12-31 05:13] #58 closed

[2017-01-09 16:38] wasnertobias opened #60 "Firewall-requirements to discover devices successfully"
Hello,

As my $controllers are null after discovery under some network-restrictions I wonder which requirements there are to be discovered successfully.

`$sonos = new \duncan3dc\Sonos\Network;
$controllers = $sonos->getControllers();`

I especially get problems while using some routers made by FritzBox.

Can you probably give me a hint on certain ports, please?

[2017-01-09 19:39] duncan3dc commented on #60
Discovery is done on [Port 1900](https://github.com/duncan3dc/sonos/blob/4c08609d64a9f00e5f59f7fa6c65ab76ce719b91/src/Network.php#L165)

Does the official Sonos app work on this network?

As part of version 2.0 I'm working on being able to add devices manually (#38) for cases where discovery is not an option or not desired

[2017-01-10 00:04] wasnertobias commented on #60
Yes, everything is is working fine.

[2017-01-15 16:30] duncan3dc commented on #57
Can you differentiate between the two types of tracks at all?
Is it possible that the existing prefix is used for "uploaded" tracks, and this new one is for tracks that are provided by Google Play Music?

[2017-01-15 16:34] duncan3dc commented on #56
Hi Loïc, sorry for the delay in replying.

I've not had much luck with launching "groups" of tracks from Spotify, I did some rough work [here](https://github.com/duncan3dc/sonos/commit/07d5926ff5857e8fd38bd3081c6efdb15aa8b783) to try and launch an album, but it wasn't working consistently.

For now, you need to use the Spotify API to get the contents of a playlist/album/etc and add each track to S

[2017-01-15 18:29] zwigglers commented on #57
Great catch. That seems to be it. I tested it on a good number of tracks and it seems to be the pattern.

Prefixes:
_dklxfo- (existing) -- uploaded tracks
A0DvPDnows -- Google Play Music tracks

[2017-01-19 23:06] duncan3dc commented on #57
Thanks @zwigglers, I'll see about getting a fix in for this in the next couple of weeks

[2017-01-20 12:06] xIntern opened #61 "Adding spotify tracks to queue performance"
Hello and thanks for this awesome library!

Im having some performance issues where PHP will reach its default max execution time when adding spotify uris to the queue.

I timed the functions to get these results:
Add 1 spotify uri(s): 0.30468702316284 seconds
(Soap: 0.28796887397766 seconds)
Add 86 spotify uri(s): 41.789011001587 seconds
(Soap: 41.768350124359 seconds)

Add 1 local uri(s): 0.0373

[2017-01-20 12:19] duncan3dc commented on #61
Thanks for your report, I'll take a look at what's causing the performance drop and see if it can be improved

[2017-01-20 17:33] duncan3dc commented on #61
As long as you're using `addTracks()` (and not calling `addTrack()` repeatedly) it doesn't look like there's anything we can do to improve the speed unfortunately.

If we can get Spotify "groups" of tracks (such as albums, playlists, etc) working (#56) then it will be quicker, but if you just want to add 50 odd tracks that aren't part of any existing "group" then it'll always be this slow sorry

[2017-01-20 17:33] #61 closed

[2017-01-23 16:30] Liver64 opened #62 "Question: TTS to a group of players"
Hi Duncan,
you did an amazing job on getting this library coded, this is the most robust coding i've seen to control Sonos.
I did some php development to integrate Sonos into Loxone Home Automation based on the old PHPSonos.inc.php which i adopted and updated frequently, actually i'm stucked and think of to change my baseline you your code.
One of the favorit functions of my user is that they e.g.

[2017-01-23 17:11] duncan3dc commented on #62
Hi Oliver, thanks for your message, I'm glad you like the library.

I presume you've seen the [interrupt](http://duncan3dc.github.io/sonos/fun/announcements/) feature, and you're talking about something similar to that, but allowing groupings to change?

So something like if the Kitchen was playing Pop, and the Garage was playing Rock, then you could do:
[code]
And after the interruption the Kitch

[2017-01-23 21:17] Liver64 commented on #62
Hi Craig,
thx for your quick answer. I recognized the interrupt function, but i wasn't sure if the function meet my needs. I give you a more detailed example:
Group is playing Radio:
**Kitchen (Coordinator)
Living Room (member)
Kids 1 (member)**
Now i want to announce to:
**Kitchen
Living Room
Kids 2** a TTS.
From the old group Kids 1 is now the new Coordinator and is still playing radio.
Now i wa

[2017-02-16 21:42] ackonsult opened #64 "interrupt does not continue line in playback"
When interrupt is called while playing line in (e.g. of a Sonos soundbar), sound will not continue after the interrupting track is finished.

[2017-02-16 22:05] ackonsult commented on #64
I added this piece of code to isStreaming():

    # SPDIF
    if (substr($uri, 0, 18) === "x-sonos-htastream:") {
        return true;
    }

Now interrupting works as expected.

[2017-02-16 22:35] duncan3dc commented on #64
Thanks for the report @ackonsult, I think I noticed this bug when I was working on 2.0 earlier this week.
I'll see if I can get it fixed in the next couple of days for you

[2017-02-19 13:45] duncan3dc commented on #64
This is fixed in [1.9.7](https://github.com/duncan3dc/sonos/releases/tag/1.9.7)

[2017-02-19 13:45] #64 closed

[2017-02-19 14:04] duncan3dc commented on #57
Hi @zwigglers, I don't have a Google Unlimited account, so could you please test out [this branch](https://github.com/duncan3dc/sonos/tree/google-unlimited) and confirm if that's working now?

[2017-02-21 20:07] zwigglers commented on #57
Not yet -- I think
`class GoogleUnlimited extends Track`
needs to be
`class GoogleUnlimited extends Google`

[2017-02-22 12:53] Paco777 opened #65 "Avoid disk write operations"
Hello,
I'm using the library on a web server stored on a dedicated Raspberry PI.
Thank you for all your hard work.

After about a year of use, the SD card somehow broke, and it is does not accept write operations anymore.
I then replaced it.

I've read that SD cards have a limited number of possible write operations, so I'm trying to reduce the number of those, if possible.

I'm initializing the s

[2017-02-22 13:01] duncan3dc commented on #65
Hi @Paco777, yes you can [control the cache](http://duncan3dc.github.io/sonos/setup/#cache) used by the library. If you don't want to cache anything to disk then using [array cache](http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/caching.html) sounds like a good idea:
[code]

[2017-02-22 13:01] #65 closed

[2017-02-22 13:58] Paco777 commented on #65
Perfect.
Thank you @duncan3dc !

[2017-02-22 20:05] duncan3dc commented on #57
Sorry about that, I've released the corrected version as [1.9.8](https://github.com/duncan3dc/sonos/releases/tag/1.9.8) now, thanks for your help

[2017-02-22 20:05] #57 closed

[2017-02-22 22:14] zwigglers commented on #57
Fixed. Thanks!

[2017-02-23 05:24] nelis249 opened #66 "Error running from web call"
I'm at a loss. Implementation seems awesome. I simply created a test page with the following on Apache 2.4 and PHP 5.4, (aka sample):

[code]

Running command line: php test.php runs fine. Reports correctly. Is very responsive.
Running from apache through a web call: http://blahblah/test.php results in:
 Error: cURL error 7: Failed to connect to 192.168.1.54 port 1400: Timed out (see http://curl.h

[2017-02-23 08:23] duncan3dc commented on #66
Hi @nelis249, sorry the library isn't working as you expect.
It's possible for PHP to use a different [configuration file](http://php.net/manual/en/configuration.file.php) for the CLI and the web, which sounds like what is going on here.

Could you check what `sys_get_temp_dir()` returns on both CLI and web? We use that to determine the default cache location, so maybe that is configured different

[2017-02-23 14:56] ackonsult commented on #66
I had a similar problem once, when my subwoofer, wich is part of a group was powered off. The Sonos systems itself works fine, but the library refuses to work (timeout...).

[2017-02-23 16:52] duncan3dc commented on #66
Hi @ackonsult, that will just be that the subwoofer was still in the cached list of devices, but obviously attempts to communicate with it would fail. Version 2.0 will fix these problems by not caching by default, and making it a developer decision how and when to cache based on their environment

[2017-02-24 01:46] nelis249 commented on #66
@duncan3dc  yea that was it. Since it's running under Apache versus CLI as me the temp location was different. I copied over the cache from my profile and works from web just fine. Thank you for the assist!

[2017-02-24 01:46] #66 closed

[2017-02-25 10:51] Liver64 commented on #62
Does anyone else get this running or can answer the question?

[2017-03-24 09:53] tobiaskluge opened #68 "Error calling setVolume on speaker with fixed output"
Some speaker allow to define the output volume as a fixed value (e.g. for the SONOS Amp). When the SetVolume is called, this leads to a 501 error from SONOS since the output value cannot be changed.

For example, in the Interrupt function, the volume is restored and so causes the whole function call to break.

Maybe a solution would be to check in the SetVolume function if the speaker allows to se

[2017-03-24 09:57] duncan3dc commented on #68
Hi @tobiaskluge, I presume you mean the Amp __does not__ allow you to set a volume?

I'll take a look, I'll probably need some debug information from you at some point as I don't have an Amp to test with, thanks

[2017-03-30 09:00] xIntern commented on #60
I'm also curious about the requirements for discovery to work properly.
As of late my home server (win8.1) and raspberry pi (raspbian) haven't been able to discover any devices on my network. However my desktop, official app and nodejs lib have no problems.
I have been debuging this for some days now but I haven't been able to figure it out.

Any tips to help discovery?

[2017-03-30 09:02] duncan3dc commented on #60
@xIntern That sounds strange, have you tried clearing the [cache](http://duncan3dc.github.io/sonos/setup/#cache)?

[2017-03-30 09:26] xIntern commented on #60
Yes, however it won't create the cache since it cant find any devices. The following script discovers perfectly on my desktop, but throws the "No devices found on the current network" error on my server.

[code]
Thanks for the quick reply

[2017-03-30 12:18] xIntern commented on #60
I finally got it working. It seems it has something to with WinpkFilter in Windows network adapter properties. I disabled it and the lib started discovering perfectly. However, i activated it and rebooted and it still works fine so there might something weird going on.
Anyway it should be worth a try if anyone else have problems discovering devices.
[Ethernet properties](http://i.imgur.com/Vm9JZDJ

[2017-03-30 12:29] duncan3dc commented on #60
Thanks for the feedback @xIntern

[2017-03-30 12:29] #60 closed

[2017-06-15 18:33] duncan3dc commented on #68
Hi @tobiaskluge, I did some digging online and it appears that the `CONNECT:AMP` does have volume buttons on, so I'm a bit confused about this issue. Could you explain the problem?

[2017-06-15 18:35] duncan3dc commented on #62
Hi Oliver, yes I think you're asking for the `TemporaryGroup` feature I described above, I'm working on getting 2.0 out the door at the moment, but once that's released I'll look at adding this feature

[2017-06-15 18:36] #55 closed

[2017-06-15 18:40] duncan3dc commented on #53
Hi @mwi438, version 2.0 is nearing release now, this should handle the caching issue by default, meaning you can go back to just:
[code]
Here's [the documentation](http://duncan3dc.github.io/sonos/v2/) I've got so far, please take a look and let me if you see your issue occur with this version

[2017-06-15 18:40] #53 closed

[2017-06-15 18:45] duncan3dc commented on #38
Hi @zoic21, version 2.0 is finally nearing release now, this will enable you to manage the devices on the network yourself like so:
[code]
Here's [the documentation](http://duncan3dc.github.io/sonos/v2/) I've got so far, please take a look and let me know if you see any issues

[2017-06-21 19:48] Zegorax opened #69 "Ability to change TTS language ?"
I tried to modify some lines in TextToSpeech.php but couldn't be able to change the TTS language.

In the URL it is possible to specify the language, can you implement it in your class ?

[2017-06-21 19:51] Zegorax commented on #69
It was my fault, I managed to make it work.

Simply go to GoogleProvider.php in Speaker, and $language = "en" to whatever language you want.

[2017-06-21 19:52] #69 closed

[2017-06-29 14:57] zoic21 commented on #38
Thank, I just pass to version 2.0, all seem ok, I just had one issue :
- in Discovery.php, in method getMulticastAddress, is missing $this-> , after fix that all is ok

[2017-06-29 16:26] zoic21 opened #70 "Add method to launch playlist by it's uri"
Hi,

Do you think it's possible to add method that launch playlist by use her URI.

I make some test on it and it's seem more performante than add track by track to queue.

Thank in advance.

[2017-06-29 17:02] duncan3dc commented on #70
Hi @zoic21, do you mean Sonos playlists? If so that should be possible, and yes would perform much better. Let me take a look if I can fit it into 2.0

[2017-07-01 11:28] Zegorax opened #71 "Accents are sent wrongly to TTSProvider"
If I try to send the text "Le serveur va redémarrer", the TTS will say : "Le serveur va redA©marer".

So the accents are not sent as plain text.

[2017-07-01 12:16] duncan3dc commented on #71
Hi @Zegorax, thanks for your interest in this library. Please could you provide a short script to reproduce the problem?

[2017-07-01 12:21] duncan3dc commented on #38
Thanks Loic, that's great. I'll let you know when 2.0 is ready for release

[2017-07-01 12:21] #38 closed

[2017-07-05 10:52] wasnertobias commented on #60
I am running it on linux. So this is not a proper solution for me.

[2017-07-11 18:06] duncan3dc commented on #71
I'm unable to re-produce this sorry @Zegorax. If you can provide a short script that demonstrates the problem I'd be happy to look into it for you. Please raise it over at [duncan3dc/speaker](https://github.com/duncan3dc/speaker/issues) where the TTS is handled

[2017-07-11 18:06] #71 closed

[2017-08-23 22:54] Shakarhaba opened #72 "Request to change dependency"
Request:

psr/log : 1.0.0 - psr/log : ~1.0

It would be nice you can adjust psr/log dependency to support version > 1.0,
at least to update composer.json to require ~1.0.

I encountered this dependency version conflict on laravel5.4 as all module requires ~1.0. (1.0.2 specifically) and the sdk is trying to install 1.0.0 version.

[code]

[2017-08-24 10:23] kicks66 opened #73 "'Failed to lookup the topology info for this speaker'"
Using the code:

[code]

I am receiving the following error:

`Fatal error: Uncaught exception 'RuntimeException' with message 'Failed to lookup the topology info for this speaker' in /Users/xxxx/Documents/yyyy/zzzz/vendor/duncan3dc/sonos/src/Network.php:297 Stack trace: #0 /Users/xxxx/Documents/yyyy/zzzz/sonos.php(10): duncan3dc\Sonos\Network->getSpeakers() #1 {main} thrown in /Users/xxxx/Documen

[2017-08-24 10:41] duncan3dc commented on #73
Hi @kicks66, sorry you're having problems. Could you enable [logging](http://duncan3dc.github.io/sonos/logging/) and provide the log file for the error?

[2017-08-24 10:48] duncan3dc commented on #72
That should be resolved now. I didn't think the fig were releasing any versions other than `1.0.0` of a psr but as they are I've added support for that

[2017-08-24 10:48] #72 closed

[2017-08-24 11:01] kicks66 commented on #73
Thanks for the quick response. Heres the output:

`Warning: date_default_timezone_get(): It is not safe to rely on the system's timezone settings. You are *required* to use the date.timezone setting or the date_default_timezone_set() function. In case you used any of those methods and you are still getting this warning, you most likely misspelled the timezone identifier. We selected the timezone '

[2017-08-29 11:06] kicks66 commented on #73
Hi @duncan3dc any ideas on the above issues?

[2017-08-29 11:19] duncan3dc commented on #73
Hi @kicks66, sorry I've not had chance to dig into your logs yet.
At a glance it looks like you have 2 Play:1s, are they are a stereo pair?

[2017-08-29 11:26] kicks66 commented on #73
We currently have 3 Play:1s working together as a trio.

[2017-09-28 17:44] duncan3dc commented on #73
It looks like one your speakers has a different household ID, was it originally used as part of a different system and now you've added it to yours? Do all 3 speakers work correctly using the official Sonos app?

[2017-09-28 17:49] duncan3dc commented on #68
I presume you resolved your problem, but if not please feel free to re-open the issue

[2017-09-28 17:49] #68 closed

[2017-09-28 19:09] duncan3dc commented on #48
Hi @zoic21, I've had some success with this, I managed to get some of my "Instant Mixes" to stream like so:

[code]
You can check this out by trying `composer require duncan3dc/sonos:dev-google-instant-mixes`

Let me know if this is in the right direction, then I'll see if I can find a way to retrieve a list of available mixes for you

[2017-09-28 19:33] ALROCHARARI opened #74 "Installation issue using composer."
Dear,

Please see screen capture of issue encountered during installation attempt.
Not sure this is an issue with your work.  Most than probably my mistake.
Thanks in advance for your kind support.

Best regards,
Raoul
![sonos issue 1](https://user-images.githubusercontent.com/26901310/30986700-a127829c-a494-11e7-9b30-32f90004f6ee.jpg)

[2017-09-28 19:37] duncan3dc commented on #74
Can you try the following composer command:
[code]
If that doesn't work can you paste your `composer.json` here so I can try and figure out what's clashing

[2017-09-28 19:48] ALROCHARARI commented on #74
Thanks for your quick answer.

See result of new trial.
![sonos issue 2](https://user-images.githubusercontent.com/26901310/30987243-99c95d3e-a496-11e7-88bd-1e6f628f0cc9.jpg)

This is the copy of composer.json file:
{
    "name": "duncan3dc/sonos",
    "type": "library",
    "description": "Control Sonos speakers using a simple API",
    "keywords": ["sonos","upnp","streaming"],
    "homepage": "h

[2017-09-28 19:54] duncan3dc commented on #74
That's the `composer.json` of this library, are you trying to use the library or work on it?
* If you are using it then you don't need to clone or fork it, from an empty directory you can just install it using the command you originally tried.
* If you want to work on the library itself, then you just use `composer update` to install all the relevant dependencies

[2017-09-28 19:57] ALROCHARARI opened #75 "Develop same libraries for python"
Dear,

(Enhancement suggestion)

I personally find this sonos Library of great added value.
This is exactly fullfilling my expectations.

Do you know if similar library is existing for Python or if you (could) plan to make one?

Thanks for your feedback.

Best regards,
Raoul

[2017-09-28 19:58] duncan3dc commented on #75
Hi Raoul, yes there is a library available for Python, it's called SoCo
https://github.com/SoCo/SoCo

[2017-09-28 19:58] #75 closed

[2017-09-28 20:05] ALROCHARARI commented on #74
Thanks for great help.

Problem solved.

I thought it was necessary to clone first.

Best regards,
Raoul

[2017-09-28 20:05] #74 closed

[2017-10-18 12:35] rlerdorf opened #77 "Voxygen TTS provider no longer works"
Most of the URLs referenced in the Voxygen code don't work anymore.
Even simple things like http://voxygen.fr/voices.json
I tried clicking around a bit to find the updated ones, but hit a lot of 404s even just clicking on links on Voxygen's own site, so I am not sure what is going on with that.

[2017-10-18 12:43] duncan3dc commented on #77
Hi Rasmus,

Unfortunately Voxygen removed access to the service we were taking advantage of (duncan3dc/speaker#6).

We've experienced quite a few issues with the free services, so we added support for an offline version on Linux: http://duncan3dc.github.io/speaker/providers/picotts/

If you know of any free online tts services please let me know and I'd be happy to add support for them to [duncan3

[2017-10-18 12:43] #77 closed

[2017-10-29 12:28] Liver64 opened #78 "Support PLAY:1 Alexa"
i received from a User the modelNumber of the new PLAY:1 incl. Alexa. It is S13

[2017-11-03 11:55] duncan3dc commented on #78
Thanks, I've added support for this in version [1.9.10](https://github.com/duncan3dc/sonos/releases/tag/1.9.10)

[2017-11-03 11:55] #78 closed

[2017-11-03 17:52] duncan3dc commented on #73
I presume you resolved your issue, but feel free to comment and I'll re-open the issue

[2017-11-03 17:52] #73 closed

[2017-11-11 13:35] MadMikeyB commented on #72
Is this resolved?

[code]

[2017-11-11 13:43] MadMikeyB commented on #72
I had to change my composer.json to require 1.0.0 of psr/log manually.

[2017-11-11 13:43] duncan3dc commented on #72
That's the workaround yeh, I've not cut a new release since this was changed, I'll get a patch release out soon for it

[2017-11-21 21:12] MadMikeyB commented on #72
Thanks @duncan3dc - great work on this. Using it in my sonos slackbot! :)

[2018-01-05 16:49] brino opened #80 "Unable to connect to Sonos Network"
No matter what I try I can't seem to connect to the network... by that I mean if I dump the Network object after instantiation, there are no speakers.

Is there some kind of trick? Do I need to do something to figure out the proper multicast address? I've tried looking up the IP's of the 3 controllers we have and using one of those as the multicast address and tried various wired/wireless network

[2018-01-07 14:58] duncan3dc commented on #80
Hi @brino, sorry for the delay in looking at your issue.

I presume you're able to use your speakers from the official Sonos app?

Could you please [enable logging](http://duncan3dc.github.io/sonos/logging/) and attach the output you get when trying to use your speakers

[2018-01-09 13:40] brino commented on #80
thanks for the response I was able to figure it out ... just instantiating the Network object does not initiate discovery ... you have to use getController() or similar method to initiate the discovery process. After I figured that out it worked great! thanks and keep up the good work!

[2018-01-09 13:40] #80 closed

[2018-01-14 09:24] zoic21 commented on #50
Hi,
I test this on 2.0 version. I can get list of favourites but I can't find how to add it in queue...

[2018-04-10 14:03] phoniclynx opened #82 "Add abillity to edit alarm stream / playlist"
Can you please add the ability to specify a stream or playlist in the Alarm section. So far all you can do is edit it in the app, find it's id then modify the alarm time and state.

[2018-04-10 16:24] duncan3dc commented on #82
Hi @phoniclynx, that sounds like a good idea, I'll look into it when I get some time and see if I can put something together for you

[2018-04-11 08:49] phoniclynx commented on #82
Hey, @duncan3dc cheers sounds good... I guess the same goes for the Snooze Alerts option.

Don't forget it should go for Streams as well as Play Lists.

[2018-05-19 14:01] phoniclynx opened #83 "Sonos One and Alarm can't find speaker error"
Just bought a couple of Sonos One speakers and tried to run the alarm functions using your lib. However, if I call the alarm with the Sonos app set to the new speakers I get the error:
`
Fatal error:  Uncaught RuntimeException: Unable to find a speaker for this alarm in /var/www/html/vendor/duncan3dc/sonos/src/Alarm.php:130
Stack trace:
#0 /var/www/html/vendor/duncan3dc/sonos/src/Alarm.php(77): du

[2018-05-19 14:08] duncan3dc commented on #83
Hi @phoniclynx, please could you reproduce the "Unable to find speaker for this alarm" error with logging enabled and post the result in a [gist](https://gist.github.com/)?

You can do this using `monolog` like so:
[code]

[code]

[2018-05-19 14:17] phoniclynx commented on #83
i've tried running and installing monolog:
`nat@HomeAuto:/var/www/html $ php composer.phar require monolog/monolog
Using version ^1.23 for monolog/monolog
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Nothing to install or update
Generating autoload files`

And I get no output when I put in those lines? only th

[2018-05-19 14:26] duncan3dc commented on #83
You're running this through a webserver? Try using `php://output` instead of `php://stdout`

[2018-05-19 14:28] phoniclynx commented on #83
AHHH.. I believe this is more useful to you:
[2018-05-20 00:27:23] sonos.INFO: creating speaker instances [] []
[2018-05-20 00:27:23] sonos.INFO: getting device info from cache [] []
[2018-05-20 00:27:23] sonos.NOTICE: Getting topology info from: http://192.168.2.156:1400/status/topology [] []
[2018-05-20 00:27:23] sonos.INFO: getting xml from cache: http://192.168.2.156:1400/xml/device_descriptio

[2018-05-19 14:29] phoniclynx commented on #83
Interesting that 192.168.2.156 is the Sonos Play 5, and the SonosOne's are 192.168.2.153 and 192.168.2.214

[2018-05-19 14:31] duncan3dc commented on #83
Did you copy that from the browser? It looks like the XML might be hidden, could you try viewing the page source and seeing if there's more info being written to the screen?

[2018-05-19 14:32] phoniclynx commented on #83
  | <pre>Mon 18:45 @ Training<br/><br/>Distance: <b>10.7 km</b><br>Travel time duration: <b>11 mins</b><br/><br>Wake Up at: 17:14<br>Lights on at: Mon 17:04<br/><br/>NO LIGHTS Today[2018-05-20 00:27:23] sonos.INFO: creating speaker instances [] []
-- | --
  | [2018-05-20 00:27:23] sonos.INFO: getting device info from cache [] []
  | [2018-05-20 00:27:23] sonos.NOTICE: Getting topology info from: h

[2018-05-19 14:35] duncan3dc commented on #83
One last tweak, could you disable caching so that all the speaker information is fetched from the devices:
[code]

[2018-05-19 14:39] phoniclynx commented on #83
<script src="https://gist.github.com/phoniclynx/332ce17c41408db095035838ce55de07.js"></script>

[2018-05-19 14:40] phoniclynx commented on #83
https://gist.github.com/phoniclynx/332ce17c41408db095035838ce55de07

[2018-05-19 15:01] duncan3dc commented on #83
It looks like that's a different error now, so the original one was likely caused by some invalid cache, have you recently added these new speakers?

The error there looks like it might be because you've already got an alarm at that time? Could you check that? And maybe try to set it for a different time?

[2018-05-19 15:06] phoniclynx commented on #83
They are brand new speakers yes.

I have tried changing the alarm and adding a different time, but I left that in there, so that is probably causing the new error.

Looks like it was a mixture of the two things, the Cache was confusing everything. Seems like it is updating it correctly now when I run it.

[2018-05-19 15:09] duncan3dc commented on #83
Yes the cache is something that is much better in version 2.0, as I've had problems like this myself.

If you clear the cache now then you should be ok again until you add more devices

[2018-05-19 15:09] #83 closed

[2018-05-22 12:27] duncan3dc commented on #77
[Responsive Voice](http://duncan3dc.github.io/speaker/providers/responsive-voice/) is already available over at [duncan3dc/speaker](https://github.com/duncan3dc/speaker)

[2018-07-21 13:03] duncan3dc commented on #38
Hi @zoic21, I'm so sorry for the delay, but [2.0.0](https://github.com/duncan3dc/sonos/releases/tag/2.0.0) was finally just released.

I'll be updating the docs soon, but there's a page that outlines some of the major differences [here](http://duncan3dc.github.io/sonos/v2/) and of course the [CHANGELOG](https://github.com/duncan3dc/sonos/blob/master/CHANGELOG.md)

[2018-07-25 04:38] phoniclynx opened #84 "Sonos Beam has been added and causes error"
I have just added a Sonos Beam to the family and gone to check everything now that it has been set up and is working.

I believe I have it clearing the cache by stating:
`$sonos = new Network(new \Doctrine\Common\Cache\ArrayCache);`
but when I go to get the alarms I get an error in regards to the SOAP discovery:

When I do a print_r($sonos) I get the response:
[code]

Any idea what I can do to fix

[2018-07-25 06:04] duncan3dc commented on #84
Hi @phoniclynx, please can you enable logging and send the output.

I'll need the device details to add support for it for you :+1:

[2018-07-25 06:10] phoniclynx commented on #84
This is the output of the logger:

[code]

[2018-07-25 06:13] duncan3dc commented on #84
Thanks very much, I'll take a look at adding support tonight for you.
In the meantime please update to version [2.0](http://duncan3dc.github.io/sonos/v2/) as this is the supported version now

[2018-07-25 07:11] phoniclynx commented on #84
How do I check which version I am running? When I ask composer to update it says there is nothing to update?

[code]

[2018-07-25 07:14] duncan3dc commented on #84
Which version of PHP are you on? Only PHP 7.1 is under [active support](http://php.net/supported-versions.php), composer won't provide 2.0 unless you're on at least 7.1

[2018-07-25 08:46] phoniclynx commented on #84
PHP Version 5.6.33-0+deb8u1

[2018-07-25 10:03] duncan3dc commented on #84
Ok you'll want to update your PHP version to at least 7.1, there's a blog post below that has some details for Debian:
https://www.colinodell.com/blog/201612/installing-php-71

[2018-07-25 12:54] phoniclynx commented on #84
okay.. after many hours of installing the new version of Linux, because I have a Raspberry-PI.. it wasn't quite so straightforward: I've gone install your package again... but I'm stuck on this error with composer:

[code]

I don't quite know where to go from here? I don't know what logger-aware is?

[2018-07-25 13:02] phoniclynx commented on #84
I managed to get psr/log installed (somehow by installing duncan3dc/logger-aware-trait) but I still get the last 3 lines as an error:

[code]

[2018-07-25 20:01] duncan3dc commented on #84
I've just released version 2.0.2 that should fix both of your issues, can you try that?

If you're still having problems, please post your `composer.json`, and the `composer` command you are running

[2018-07-25 20:54] phoniclynx commented on #84
That looks a tad better:

[code]

I just tried to run it.. but it doesn't seem to be doing anything within PHP at all.

I have work today (13 hrs) I will check it out more. Everything got changed during the upgrade for the Rasp Pi... so don't know where to look just atm.

[2018-07-25 20:57] duncan3dc commented on #84
Great, so the latest version has installed, and your script is not falling over because of the Beam anymore.

If you can send me your script I can give you any pointers on things you've missed with the 2.0 upgrade

[2018-07-26 10:09] phoniclynx commented on #84
My code is as follows:

[code]

This is currently printing nothing (even with those print_r 's

[2018-07-26 10:36] duncan3dc commented on #84
If it's printing nothing then you must have PHP configured to hide errors.

But the first thing I notice is your constructor is passing a doctrine cache instance, you should remove that and just use: `$sonos = new Network();`

Also you'll need to parse your alarm time to a `\duncan3dc\Sonos\Utils\Time` instance:
[code]

Try that and let me know how you get on. If you're still getting a blank scree

[2018-07-26 10:40] phoniclynx commented on #84
ahh.. that's becuase I accidently set the wrong php.ini file.. however I have some more information for you: I am getting this error now:

[code]

[2018-07-26 10:50] duncan3dc commented on #84
You need to import the time class with a `use` statement, or use a fully qualified version (instead of just `Time`).

[code]

[2018-07-26 10:51] phoniclynx commented on #84
OK... figured that out just as you posted that... however.. it SET the time.. but set it in the alarm incorrectly.. it set it to 0016 when it was supposed to be 1619

[2018-07-26 11:00] duncan3dc commented on #84
Ok, please can you log that as a separate issue, with a script to reproduce and I'll investigate it for you.

This issue with the Beam is fixed now :+1:

[2018-07-26 11:00] #84 closed

[2018-07-28 03:42] phoniclynx opened #85 "Time::parse causes a strange output"
Passing the time in HH:mm to Time:parse with the string "16:19" gives the alarm an incorrect time value of 16 mins past midnight ("00:16") using the line
`$alarm->setTime(Time::parse($time));`

To correct this I have to add the seconds into the line like so:
`$alarm->setTime(Time::parse($time.":00"));`

Should Time:parse not be detecting that it is in HH:mm and not HH:mm:ss and correct itself purh

[2018-07-29 13:53] duncan3dc commented on #85
Hmm, it's difficult as `parse()` has no way of knowing with `16:19` is 4pm, or 16 minutes and 19 seconds.

I wonder if a `TIme::fromFormat()` would be useful, something like:
[code]

[2018-08-02 03:54] phoniclynx commented on #85
yeah that could work

[2018-08-03 08:40] koen-php opened #86 "PHP Soapclient memory issue"
Hi, I'm using your great library to continuously check updates in the status of different Sonos speakers. However, I notice that the memory usage keeps increasing and it seems to be related to the PHP SoapClient.

If I go into the Device.php and comment the Soap call to get e.g. the volume status, the used memory stabilizes:
$result = $soap->__soapCall($action, $soapParams);

Is this a known issue

[2018-08-03 08:57] duncan3dc commented on #86
Hi @koen-php, I've not come across this myself before, I'll do some investigation and see if I can reproduce.

If you could provide a small test script that demonstrates the issue that would be really helpful, thanks

[2018-08-03 09:40] koen-php commented on #86
Here is a simple CLI script that will get the volume of 1 speaker every second. In the output you will see the result and the current memory usage. On my device, the used memory increases on every iteration with 120:
[code]

[2018-08-23 21:43] Rello opened #87 "v2.0.2 & php 7.1"
Hey,

thank you for your library.
I have the issue that I am on php 7.0
which brings me back to sonos 1.9
but for this, http://duncan3dc.github.io/sonos/ is not available - neither is APIDocumentation

any suggestion to work without 7.1?

[code]

[2018-08-23 22:04] duncan3dc commented on #87
Hi there, thanks for your interest in the library

The docs for version 1.9 are still available, for example [here](https://github.com/duncan3dc/sonos/blob/78f106970b435f3c617e548e70424d6b4c4d1198/setup.md) is the old set up page.

You can view all of the pages via GitHub, or if you've got Jekyll installed you can generate a local version of the 1.9 docs:
[code]

PHP 7.0 will only be receiving sec

[2018-08-23 22:04] #87 closed

[2018-08-23 22:10] Rello commented on #87
thank you for your quick response.
...I am developing on a raspberry, which is still on 7.0...

my PHPStorm autocompletion seems to do the job for now on 1.9.
I am working on a Sonos-Integration for Nextcloud->Audioplayer
lets see how it will work out.
https://github.com/Rello/audioplayer

[2018-08-27 20:54] Rello commented on #16
Hello @duncan3dc ,

I am no sure about the 1.9 usage as the docu handles 2.0.
2.0 mentions that a cache collector specifically needs to be set up an provided.

what about the 1.9 as mentioned above? what is the default mode there?

[2018-08-27 20:57] duncan3dc commented on #16
Hi @rello, as mentioned above, the default in 1.9 is a long lived cache, however I advise you not to rely on the default, and instead specify your own cache settings

[2018-08-27 21:00] Rello commented on #16
Hello,
that was quick :-)

ok, thank you. I just checked the Doctrine/Common/Cache folder. I will test with other types.
any recommendation with least dependencies (e.g. Memcache needs to be provided by the server)

[2018-09-05 21:09] Rello opened #89 "(1.9) discovery not working since SONOS 9.1 update"
Hello,

yesterday, SONOS updated to 9.1 which removed the /status/topology page for privacy reasons.
Now the library is failing.

I know that you are advertising v2 - but as not everyone can jump to php 7.1, I still see a case for your v1.9
But it`s `Network.php` depends on the /topology

Do you see any chance to get 1.9 running in a similar way to your 2.0, which seems using multicast?
https://gi

[2018-09-06 08:35] duncan3dc commented on #89
Hi @Rello, unfortunately I only have enough time support one version.

I'll leave this issue open in case somebody can contribute a fix, or in case I do find some time to look at it, but I can't commit to investigating how to resolve this issue on the 1.9 release sorry.

Here's the fix that was done against 2.0 in case it's useful:
https://github.com/duncan3dc/sonos/commit/a9d571f4320e065256a50f16

[2018-09-07 18:46] tomsommer opened #90 "getGroup() is empty"
2.0.2, Sonos Version: 9.1 (build 45156150)

[code]

`$tvSpeaker->getGroup()`  is empty: `string(0) ""` sometimes, even though it is in a group with the controller, and the `getGroup()` on the controller returns a value.

[2018-09-07 19:50] tomsommer opened #91 "Empty string supplied as input"
[code]

[2018-09-08 09:07] Liver64 opened #92 "New official Sonos API"
Hi Craig. Not sure If you have noticed that Sonos released their API now for free. Do you have any plans to investigate? So far as i‘m informed the „old“ Interface will be turned off after a certain overlapping period.
Thanks for your feedback, Oliver

[2018-09-08 12:39] duncan3dc commented on #92
Hi Oliver,

Yes I've joined the developer program and I will be evaluating how to take this library forward.

I've not heard anything about them dropping their UPnP support, and I would be surprised if that's the case, but I'll be keeping an eye on developments

[2018-09-08 12:39] #92 closed

[2018-09-13 20:55] duncan3dc commented on #85
Sorry for the delay, this is now available in version [2.0.3](https://github.com/duncan3dc/sonos/releases/tag/2.0.3)

[2018-09-13 20:55] #85 closed

[2018-09-13 20:58] duncan3dc commented on #91
Hi @tomsommer, thanks for your bug report.
Is this happening every time, or just in specific circumstances?
Are there are steps to reproduce this? (eg try to get the controller after moving the Kitchen to another group)

[2018-09-26 07:38] tomsommer commented on #91
It happened after I added a stereo-pair of Ones, but I also updated to 9.8 at the same time, so hard to say.

[2018-09-26 07:53] duncan3dc commented on #91
Thanks for the extra info, so has it stopped happening now? You're unable to reproduce?

[2018-09-27 05:03] tobiaskluge commented on #92
Hi Craig,

Just in case you need some data or code, we've put some php library code for the newa pi at https://github.com/hubwareHouse/sonos . But not yet finished.

Greetings, Tobias

[2018-09-28 11:51] duncan3dc commented on #92
Hi @tobiaskluge, that's great.

I've started work on a separate library at https://github.com/duncan3dc/sonos-cloud
And I'll be converging the two over time so that you can do the same actions (as Sonos adds more to their cloud API) and choose whether you do it over the cloud or locally

[2018-10-01 15:18] phoniclynx opened #93 "Add custom track, documentation wrong?"
I'm trying to make a simple doorbell that responds when a flic button is pressed and calls a URL. I thought this should be simple, but I have a feeling your documentation is either wrong or out of date?

This is what I have at the moment:
[code]
I get the error:

 `Fatal error: Declaration of Smb::getUri() must be compatible with duncan3dc\Sonos\Interfaces\UriInterface::getUri(): string in /var/ww

[2018-10-01 15:33] duncan3dc commented on #93
HI @phoniclynx sorry the documentation is not up to date, I'll take a look at updating it this week for you.

In the mean time, the error you're seeing above (`Declaration of Smb::getUri()`) is because of your declaration of `getUri()`, it should be:
[code]

However, if you're just passing the `$track` in as a string, do you need the `Smb` class?

[2018-10-01 15:40] phoniclynx commented on #93
I'm not 100% sure which part it "should" be. However if I just pass it as a string I get the error:
`Fatal error: Uncaught TypeError: Argument 1 passed to duncan3dc\Sonos\Controller::interrupt() must be an instance of duncan3dc\Sonos\Interfaces\UriInterface, string given, called in /var/www/html/sonoscontroller.php on line 88 and defined in /var/www/html/vendor/duncan3dc/sonos/src/Controller.php:6

[2018-10-01 15:42] duncan3dc commented on #93
Ah ok yeh, so maybe something like this:
[code]

[2018-10-01 15:44] phoniclynx commented on #93
I copied and pasted that as you suggested, but now I'm getting a different error:
`Fatal error: Class HomeAutomation contains 1 abstract method and must therefore be declared abstract or implement the remaining methods (duncan3dc\Sonos\Interfaces\UriInterface::getMetaData) in /var/www/html/sonoscontroller.php on line 105`

[2018-10-01 15:47] duncan3dc commented on #93
Sorry about that, I'll take a look at the docs this week and let you know when they're updated

[2018-10-01 15:49] phoniclynx commented on #93
ok cool.. thx

[2018-10-02 18:41] duncan3dc commented on #93
I've corrected the docs now, something like this should work (tested on my network):
[code]

[2018-10-02 18:41] #93 closed

[2018-10-03 00:34] phoniclynx commented on #93
I tried that code. Now I seem to get another error:

`Fatal error: Uncaught duncan3dc\Sonos\Exceptions\SoapException: UPnPError: 701 in /var/www/html/vendor/duncan3dc/sonos/src/Devices/Device.php:152 Stack trace: #0 /var/www/html/vendor/duncan3dc/sonos/src/Speaker.php(86): duncan3dc\Sonos\Devices\Device->soap('AVTransport', 'Pause', Array) #1 /var/www/html/vendor/duncan3dc/sonos/src/Controller.php

[2018-10-03 02:56] phoniclynx commented on #93
I think that is because it is Grouped in Party Mode (3 different rooms) that I get that error. When I ungroup everything I get no error, and I also get no sound being played :\

[2018-10-03 03:06] phoniclynx commented on #93
I tried to simply add it by track and I get errors with that too:
[code]
returns
`Fatal error: Uncaught Error: Class 'Track' not found in /var/www/html/sonoscontroller.php:114 Stack trace: #0 /var/www/html/index.php(1207): sonosDoorBell() #1 /var/www/html/index.php(87): sonos::doorbell() #2 {main} thrown in /var/www/html/sonoscontroller.php on line 114
`

[2018-10-03 03:29] phoniclynx commented on #93
You are going to hate me by the end of this, haha sorry. But I think I've found another bug. I have 3(three) rooms in my Sonos setup: Living Room. Kitchen, Bedroom.

If I use the code above to send the interrupt doorbell alert and it is sent to "Living Room using: $doorbell = $sonos->getControllerByRoom("Living Room");"; it plays in the room "Kitchen". I have a bizarre feeling the SONOS controller

[2018-10-04 17:28] tomsommer commented on #90
With two groups playing at the same time:

[code]

string(24) "192.168.1.20 - Sonos One"
string(0) ""
string(27) "192.168.1.13 - Sonos Play:3"
string(24) "RINCON_5CAAFD1FFB4F01400"
string(27) "192.168.1.12 - Sonos Play:1"
string(0) ""
string(24) "192.168.1.10 - Sonos One"
string(24) "RINCON_5CAAFD1FFB4F01400"
string(28) "192.168.1.16 - Sonos Playbar"
string(24) "RINCON_5CAAFD1FFB4F01400"
string(27

[2018-10-04 17:29] tomsommer commented on #91
Yes, related to #90

[2018-10-05 05:13] phoniclynx opened #94 "Can't send an interupt call when rooms are grouped"
When sending the command to interrupt the stream / TV / playlist when rooms are grouped or in party mode the script fails with the error:
`Fatal error: Uncaught duncan3dc\Sonos\Exceptions\SoapException: UPnPError: 701 in /var/www/html/vendor/duncan3dc/sonos/src/Devices/Device.php:152 Stack trace: #0 /var/www/html/vendor/duncan3dc/sonos/src/Speaker.php(86): duncan3dc\Sonos\Devices\Device->soap('AVT

[2018-10-09 15:37] freeyland opened #95 "I've got a fatal error when installing latest code"
My code:
<?php
require_once __DIR__ . "/vendor/autoload.php";

use duncan3dc\Sonos\Network;

$devices = new \duncan3dc\Sonos\Devices\Discovery();
$sonos = new Network($devices);

foreach($sonos->getSpeakers() as $_x ) {
var_dump($_x->getName(), $_x->getGroup());
}

Fatal error: Declaration of duncan3dc\Sonos\Speaker::updateGroup(): duncan3dc\Sonos\void must be compatible with duncan3dc\Sonos\Inter

[2018-10-09 15:52] duncan3dc commented on #95
Hi @freeyland, that looks like you're running it on an old unsupported version of PHP.
Can you check you're using at least version 7.1.0?

[2018-10-09 17:36] freeyland commented on #95
Hi @duncan3dc ,
My version is  Version 7.0.30. WIll need to update my NAS or use docker :)
thnx
--

[2018-10-10 10:12] 22b opened #96 "Help needed changing speakers in group"
i have 3 speakers, A, B and C.
I play music on a group with only speaker A. I want to add B and C to this group and remove A without any interruption. This works with the sonos controller but won't work with the following code:

[code]

[2018-10-15 11:15] phoniclynx commented on #94
Please help... this is preventing my code from running properly as it causes a stop error.

[2018-10-15 11:44] duncan3dc commented on #94
Hi @phoniclynx, I'm a bit busy with paid work this month, but I should have some time to investigate your problem in November.

[2018-10-19 12:55] vellu1 opened #97 "Call to member function getTags()"
After Sonos update to 9.2 I suddenly get the following PHP error:

I haven't changed my code, so I _assume_ this might be due to the update.

API version 2.0.3, PHP 7.2

To verify I tried with the following very simple test, results are the same:

[code]

[2018-10-24 13:05] duncan3dc commented on #90
Hi @tomsommer, I'm able to reproduce this with a stereo pair of speakers I have, it looks like when a speaker is part of pair, only one of them reports their group. Is that what you are seeing?

[2018-10-24 13:50] duncan3dc commented on #95
That's great, good luck :+1:

[2018-10-24 13:50] #95 closed

[2018-10-24 14:01] duncan3dc commented on #96
Hi @22b I presume you mean the music stops in the room it's currently playing in?
That's because of this section of the code:
[code]
You're removing speaker A from the group, so it stops playing, you need to leave that in the group and just add B and C to it.

You also shouldn't need to call `updateGroup()` or `play()`

[2018-10-24 14:01] #96 closed

[2018-10-24 14:03] duncan3dc commented on #97
Hi @vellu1, do you get the `getTags()` error every time you run your script? Or does it just occasionally happen?

As a side note, the API has changed quite a bit in version 2.0, the first echo should be:
[code]

[2018-10-24 14:19] duncan3dc commented on #94
I'm unable to reproduce this problem, when playing a track from a local music server, with 3 rooms grouped, I can send the `interrupt()` to any controller and it works correctly.

Is there something different about your set up? What music source are you using? Is the music already playing when you send the interrupt? Does it fail occasionally or all the time?

If you're able to reproduce the probl

[2018-10-24 14:35] duncan3dc commented on #90
I've put in a fix for this in version [2.0.4](https://github.com/duncan3dc/sonos/releases/tag/2.0.4)

[2018-10-24 14:35] #90 closed

[2018-10-24 14:36] duncan3dc commented on #91
Please can you try again with version 2.0.4 and provide a short script to reproduce the problem if it's still occurring with that new version

[2018-10-24 17:57] tomsommer commented on #91
Works now. Awesome :)

[2018-10-24 17:58] tomsommer commented on #91
2.0.4
[code]

[2018-10-24 17:59] tomsommer commented on #90
Seems "fixed"

[2018-10-25 08:28] duncan3dc commented on #90
Awesome, thanks for confirming

[2018-10-25 08:28] duncan3dc commented on #91
Thanks @tomsommer I'll try to reproduce again

[2018-10-27 15:19] vellu1 commented on #97
Hi @duncan3dc

Yes I get this every time.

This can be reproduced even only with:

`$sonos = new Network;
$controllers = $sonos->getControllers();`

I'm sure it's something in my environment but then again I didn't change anything before this occurred, so seems very odd...

[2018-10-30 16:32] tobiaskluge commented on #97
Hey @duncan3dc ,

I have a similar problem with a specific speaker (probably due to being part of a stereo pair) with the following error messages

DOMDocument::loadXML(): Empty string supplied as input in vendor/duncan3dc/domparser/src/Parser.php on line 35

Call to a member function getTag() on boolean ["[object] (Error(code: 0): Call to a member function getTag() on boolean at vendor/duncan3dc/

[2018-11-19 08:56] koen-php opened #99 "Speaker remains in group although it was ungrouped"
I have the following situation:
- Speakers were grouped via the Sonos application (Cuisine and Salle-a-manger)
- After that they are ungrouped and the playlists are emptied
- Launching a simple test script afterwards (so new PHP script, without cache) with the Sonos library, still shows the speaker as part of the group (Salle-a-manger has Cuisine UUID as group)
- Result is that sending a command t

[2018-12-06 19:45] Rello commented on #89
Hello,
no, I did not have the time to look into this.

I switched to another simpler library.
it has **far** less features than duancan3dc/sonos (I especially miss the play&return to previous state) but it works for my little use-case so far
https://github.com/Rello/audioplayer/blob/master/3rdparty/PHPSonos.inc.php

[2018-12-07 14:51] Liver64 commented on #89
you may have a look at loxberry Project, espsecially the Sonos4lox Plugin. As long as your Home automation system can send http request you can use the full scope of Sonos.

[2018-12-13 17:47] duncan3dc commented on #99
Hi @koen-php, I've managed to reproduce this issue, I'm just investigating it now

[2018-12-13 22:48] duncan3dc commented on #99
This is fixed in [2.0.5](https://github.com/duncan3dc/sonos/releases/tag/2.0.5)

[2018-12-13 22:48] #99 closed

[2018-12-14 10:07] duncan3dc commented on #91
Thanks for bearing with me on this one, it should be fixed in [2.0.6](https://github.com/duncan3dc/sonos/releases/tag/2.0.6)

[2018-12-14 10:07] #91 closed

[2019-03-15 10:18] kvanisterdael opened #100 "Unrecognized Connect with code S15"
Just had the case where a Connect was not recognized by the library, because it had code S15 (instead of ZP90).

[2019-03-15 16:14] duncan3dc commented on #100
Hi @kvanisterdael, I'll get support for this new version of the CONNECT added soon

[2019-03-15 17:03] duncan3dc commented on #100
This is fixed in version [2.0.7](https://github.com/duncan3dc/sonos/releases/tag/2.0.7)

[2019-03-15 17:03] #100 closed

[2019-03-18 07:47] kvanisterdael commented on #50
I have done this from my code with the following methods and a SonosFavorite class. Maybe this can help...

[code]

[code]

[2019-03-22 08:35] Liver64 opened #102 "Support for Model S18"
Hi Duncan,
Sonos launched PLAY:ONE Gen2 with Model No. S18. Please add
thx and BR
Oliver

[2019-03-24 14:58] duncan3dc commented on #102
I've added support for this in 86c1464523651a0f2015049502d76367a9eb8c04 it will be available in the next release

[2019-03-24 14:58] #102 closed

[2019-03-24 14:59] #94 closed

[2019-03-24 15:03] duncan3dc commented on #89
It seems like most of you have found alternatives for old versions of PHP now so I'll close this issue.

Remember that running unsupported versions of PHP leaves you susceptible to security exploits, see below for a link showing the support status of each version:
http://php.net/supported-versions.php

[2019-03-24 15:03] #89 closed

[2019-03-24 15:51] duncan3dc commented on #82
This has been done in a566c2015059144ace97cce7a0186a0172efdb51 and will be part of the next release

[2019-03-24 15:51] #82 closed

[2019-03-24 15:52] duncan3dc commented on #70
This was done in #98 by @0bp and will be part of the next release

[2019-03-24 15:52] #70 closed

[2019-03-24 17:00] duncan3dc commented on #62
I've taken a look at this but it's quite complicated to do in a reliable way that handles all the possible scenarios.

I'll give it another crack when I get some time. You can take a look at the work in progress [here](https://github.com/duncan3dc/sonos/commit/c63d15f6a1f680216bb6baf5623627408df4f09f) if you like

[2019-05-05 16:00] Jmi91 opened #103 "New Sonos One and Ethernet"
Hi,
I have a problem when my new Sonos One (S18) is connected by ethernet cable: It is never found.
It's working when the Sonos ONE is using wireless SonosNet.
Thank you.
Regards.

Jmi

[2019-05-05 16:10] duncan3dc commented on #103
Hi Jmi, can you [turn on logging](http://duncan3dc.github.io/sonos/setup/logging/) and post the results to a gist then link them here?

[2019-05-05 16:50] Jmi91 commented on #103
I have a problem with installing monolog and turn on logging.
I have done that:

composer require monolog/monolog
composer require php-console/php-console

but I have this error in my code:

PHP Fatal error:  Uncaught Error: Class 'Monolog\Logger' not found

Any idea ?

[2019-05-05 17:22] Jmi91 commented on #103
Here is the gist link:

https://gist.github.com/Jmi91/94a78590e66d68e44c8abf5bfc3f6dbf

[2019-05-05 18:51] Jmi91 commented on #103
Another example:
https://gist.github.com/Jmi91/b353eac6b19135488c997af5a7f88be6

[2019-08-23 12:39] kvanisterdael opened #104 "IKEA Symfonisk players"
The new IKEA players have model types that are not yet recognized by the isSpeaker() method.

Bookshelf model: S21
Lamp model: ???

[2019-08-23 15:36] Liver64 commented on #104
Lamp = S20

[2019-08-25 11:05] duncan3dc commented on #104
Thanks to both of you for providing these, they're available in [2.1.0](https://github.com/duncan3dc/sonos/releases/tag/2.1.0) now

[2019-08-25 11:05] #104 closed

[2019-08-25 11:09] duncan3dc commented on #103
@Jmi91 Sorry for the delay here, from those logs it looks like the speaker is found successfully.
As for the groupings, are you doing them via this library or another source? You may need to disable caching (or use a shorter cache time) if you need to make changes to groupings via another source (eg the Sonos app)

[2019-08-25 11:10] duncan3dc commented on #86
I've tracked that to an issue in the PHP extension itself, but not been able to solve yet, I'll let you know once I get anywhere with upstream

[2019-08-26 07:45] kvanisterdael opened #105 "Model types: new Sonos Amp"
Another unrecognized device: the new AMP. I couldn't find the device code yet.

But I was wondering if we couldn't eliminate the isSpeaker method? All devices are speakers in the current Sonos range, so what's the added value?
With the current implementation, we need to update every time a new model comes out...

[2019-08-26 14:45] duncan3dc commented on #105
Hi @kvanisterdael, I'm afraid that's not the case, there are some devices in the current range that are not speakers (eg the Bridge), and without `isSpeaker()` the library will throw an exception when dealing with non-speakers.

So the approach taken is that new devices have to be added, because at least the library still works, and new non-speaker devices don't prevent users from using this libra

[2019-09-25 14:18] kvanisterdael opened #106 "Pause on playbar with line in"
How can you stop a playbar playing from his Line In? $controller->pause() returns an error:

 Uncaught duncan3dc\Sonos\Exceptions\SoapException: UPnPError: 701 in /usr/html/phalcon/vendor/duncan3dc/sonos/src/Devices/Device.php:157 Stack trace: #0 /usr/html/phalcon/vendor/duncan3dc/sonos/src/Speaker.php

[2019-10-30 02:16] leegimblett opened #107 "New Sonos Move Device"
The new Sonos Move device has the code S17. This needs to be added to the array at  src/Devices/Device.php (and associated test). Such a small change - didn't think it was worth a Pull Request

Lee

[2019-11-03 18:51] duncan3dc commented on #107
This is fixed in [2.1.1](https://github.com/duncan3dc/sonos/releases/tag/2.1.1)

[2019-11-03 18:51] #107 closed

[2019-11-17 14:25] duncan3dc commented on #106
Hi @kvanisterdael, pause is the correct command to stop line in from playing. I've just tried it on my system now and it worked without issue, are you sure the device is still playing when you pause it? Are you sure you are working with the correct device that is currently streaming from line in?

[2019-11-17 14:25] #103 closed

[2019-11-26 17:50] LeonAlexanderBartz opened #108 "Sonos Events"
Hello there,
Is there any way to get the events of a speaker like 'Play',
wich where triggered by another device ?
I don't want to use a for loop.

[2020-04-05 21:09] tomsommer opened #109 "Empty room returned by getControllers()"
[code]

return
`
 = STOPPED
`

This breaks getControllerByRoom()

Log: https://pastebin.com/qnydDJiL

Gruping in UI:

![image](https://user-images.githubusercontent.com/149171/78509984-4e407880-7792-11ea-952f-3d997cbc2810.png)

[2020-08-02 19:39] christianschneider89 commented on #106
Same here. If input is TV this error occurs (I'm using PHP 7.3.15):

PHP Fatal error:  Uncaught duncan3dc\\Sonos\\Exceptions\\SoapException: UPnPError: 701 in /var/www/html/vendor/duncan3dc/sonos/src/Devices/Device.php:157\nStack trace:\n#0 /var/www/html/vendor/duncan3dc/sonos/src/Speaker.php(92): duncan3dc\\Sonos\\Devices\\Device->soap('AVTransport', 'Pause', Array)\n#1 /var/www/html/vendor/dunca

[2020-08-03 10:44] duncan3dc commented on #106
Hmm, I wonder if the playbar works with line-in differently to other speakers, I don't have one so it's going to be tricky to solve for me.
But let me poke around my system now I'm on S2 and see if I can find any line-in issues

[2020-08-03 11:47] christianschneider89 commented on #106
If it helps I can set up a linux host in my network for you.

[2020-09-28 17:57] christianschneider89 opened #110 "Group not listed as controller"
Hello

I have the following php code:

[code]

My sonos desktop app shows:
![image](https://user-images.githubusercontent.com/15085873/94468456-bbbee600-01c4-11eb-9025-543985125647.png)

But the output from the script shows me:
[code]

What could be the problem?

Thanks
Chris

[2020-10-26 15:45] #108 closed

[2020-10-28 15:17] duncan3dc commented on #108
Hi @LeonAlexanderBartz, sorry for the lack of response here!
It is possible, and I was doing some work on it a while ago, but nothing production ready yet I'm afraid.
You can see my initial hacking on the [subscriptions branch](https://github.com/duncan3dc/sonos/compare/subscriptions?expand=1) if you want to give it a go

[2020-11-08 20:32] dutchie027 opened #111 "Documentation uses private method"
On your [documentation](http://duncan3dc.github.io/sonos/usage/alarms/) you suggest getting the room by using

`$alarm->getSpeaker()->room`

however room is private and you would really need to get the room name by using:

`$alarm->getSpeaker()->getRoom()`

[2020-11-08 20:35] duncan3dc commented on #111
Sorry I must have missed that when preparing the docs for 2.0, I will correct it soon, thanks for raising the issue!

[2020-11-08 20:41] dutchie027 commented on #110
@christianschneider89 I think what you're looking for is the speaker class not the controller class aren't you?

What happens if you use:

[code]

[2020-11-08 20:44] dutchie027 commented on #109
@tomsommer you can't call  `room` by the private method in the 2.0 version. You'd need to change the code to be:

`echo $controller->getRoom() . " = " . $controller->getStateName() . "\n";`

[2020-11-18 15:34] vespino opened #112 "multiroom playing sync: simple question"
Before I go out and buy a number of Sonos speakers... I was hoping to utilize this project for one simple task which is schedule playback of internet streams on the 3 Sonos speakers I'm planning to buy, 2 of which will be in the same room, so it's important playback will be in sync. I don't like to do repetitive tasks, that is why I automate things. Start playing at 7.15am, change the channel at 9

[2020-11-22 16:24] duncan3dc commented on #112
Hi @vespino, that's right I use this library for something very similar to that myself.

Sonos do provide some of the functionality you're describing using their "alarms" feature, so it may be worth looking at that before digging into this library.

But this library can certainly handling playing, stopping, grouping, etc

[2020-11-22 16:24] #112 closed

[2020-11-26 15:23] vespino opened #113 "Call to a member function getTags()"
I have just bought 3 Sonos One Gen 2 speakers and installed 2 of them. I have quickly installed this program to see if it works with the following code:

[code]

All it currenty does is output the following error: Fatal error: Uncaught Error: Call to a member function getTags() on boolean in /path/to/script/vendor/duncan3dc/sonos/src/Network.php:279

I trying to run this on my Synology NAS which i

[2020-11-26 20:05] duncan3dc commented on #113
Hi @vespino

Please [enable logging](http://duncan3dc.github.io/sonos/setup/logging/) and run your code again, then paste the output here or in a gist, that should help figure out what's going on

[2020-11-26 21:00] vespino commented on #113
[2020-11-26 21:58:03] sonos.INFO: creating speaker instances [] []
[2020-11-26 21:58:03] sonos.INFO: getting device info from cache [] []
[2020-11-26 21:58:03] sonos.NOTICE: Getting topology info from: http://x.x.x.x:1400/status/topology [] []

Fatal error: Uncaught Error: Call to a member function getTags() on boolean in /path/to/file/vendor/duncan3dc/sonos/src/Network.php:279
Stack trace:
#0 /pa

[2020-11-26 21:23] duncan3dc commented on #113
That line number looks suspicious, doesn't appear to line up with the current version of this library.
Did you install via composer? If so what version is installed? (you can use something like `composer show | grep sonos` to check)

[2020-11-26 21:50] vespino commented on #113
duncan3dc/sonos                  1.9.11    Control Sonos speakers using a simple API

[2020-11-26 21:55] duncan3dc commented on #113
Ah that's quite an old version, almost exactly 3 years old to the day!

I can only spare enough time to support the latest version, which is 2.1.1 (https://github.com/duncan3dc/sonos/tags) at the moment.

Please upgrade to that and try again, if you still experience issues on the latest version I'd be happy to investigate further

[2020-11-26 21:55] #113 closed

[2020-11-26 21:57] vespino commented on #113
Can you tell me how to upgrade? Download from github and overwrite? Any guess to why composer did not install the latest version?

[2020-11-26 22:04] duncan3dc commented on #113
You can just use composer to upgrade, I would guess perhaps your PHP version is quite old, so composer is given you an old version of this library that is compatible with the old version of PHP. Do you know what version of PHP you are using?

[2020-11-27 06:43] vespino commented on #113
I'm using 7.0.33.

[2020-11-27 07:21] vespino commented on #113
Yeah buddy! Installed PHP72 and things are rolling!

[2020-11-27 07:54] christianschneider89 commented on #110
@dutchie027 Thanks for your reply.

My plan was to get an overall status of my sonos (if only one speaker is playing the status should be true).
The speaker class don't have a getState() method, so I was using the controller class.

I don't know why, but I just tested it again. At the moment with the same code (see initial post) and same groups both controllers are appearing in the output:

[code]

[2020-11-27 07:54] #110 closed

[2020-11-27 20:36] vespino opened #114 "Stop?"
Got it running thanks to your tip on upgrading PHP. I was able to join several speakers and have them play without any lag using TuneIn. Great documentation btw!

One thing I wasn't able to find was the simple "stop" command. Is there only "Pause()"?

[2020-11-27 21:58] duncan3dc commented on #114
Fantastic :tada:

The Sonos speakers only provide pause when playing tracks from the queue, I think the App does show a "stop" icon when you're listening to a stream or line-in, but the `pause()` method should do the same thing

[2020-11-27 21:58] #114 closed

[2020-11-30 16:29] vespino opened #115 "caching"
I'm trying to implement caching: https://duncan3dc.github.io/sonos/setup/cache/

I have installed this [script](https://packagist.org/packages/symfony/cache) but on calling the following I'm getting an error:

`$collection = new Discovery();`

`Fatal error: Uncaught Error: Class 'Discovery' not found in /path/to/my/script.php:60`

I'm not used to using composer all that much, so what do I have to

[2020-11-30 16:54] duncan3dc commented on #115
Hi @vespino looks like you'll want `use duncan3dc\Sonos\Devices\Discovery` in there to import the `Discovery` class.
I'll leave this issue open until I fix the docs to include this

[2020-11-30 18:43] vespino commented on #115
Ok, that solves the Discovery class error, now I'm getting this error:

`Fatal error: Uncaught Error: Class 'Symfony\Component\Cache\Simple\FilesystemCache'`

What else should I add to the mix?

[code]

Again sorry, I rather using the oldskool include.

[2020-12-04 20:42] vespino commented on #115
@duncan3dc any thoughts on this?

[2020-12-07 09:03] duncan3dc commented on #115
It looks like Symfony removed the simple filesystem cache in 5.x:
https://github.com/symfony/cache/blob/5.x/CHANGELOG.md
Try `composer require symfony/cache:^4.0` instead

[2020-12-07 13:05] vespino commented on #115
Tried this and it didn't at all make things faster. I also tried saving the collection object for later use, this also didn't speed things up more that a second or two, so I'll stick with simply scanning every time. Thanks!

[2020-12-07 13:05] #115 closed

[2020-12-08 09:16] #111 closed

[2020-12-08 09:18] duncan3dc commented on #109
Hi @tomsommer, what version are you using?
If you're on a recent version please [enable logging](http://duncan3dc.github.io/sonos/setup/logging/) and run your script again then paste the output here or in a gist and I will investigate

[2020-12-08 09:18] #109 closed

[2021-01-30 21:35] BastelBaus opened #117 "Play:5 Gen2 ID Missing"
For me the device ID is S24 for teh PLAY:5 Gen2 which should be added to the Device class. Hopes this helps and thanks for this nice library !
BR
BastelBaus

[2021-09-13 11:11] Kalpeshsuthar opened #120 "Need to know that can we consider this code for submitting the Sonos api for approval"
Can we consider this code to submit the Sonos app for getting approval for our playing service.

[2021-09-13 11:40] duncan3dc commented on #120
Hi @Kalpeshsuthar can you elaborate a little on what you need to know here please?

[2021-10-04 07:58] #120 closed

[2022-03-29 13:25] dutchie027 opened #121 "Legacy league/flysystem could lead to vulnerability"
[The default composer.json](https://github.com/duncan3dc/sonos/blob/main/composer.json) requires league/flysystem 1.0 or greater. Anything less than 1.1.4 has [a security issue detected](https://github.com/advisories/GHSA-9f46-5r25-5wfm). I know there is an [upgrade branch](https://github.com/duncan3dc/sonos/tree/upgrade) which I'm guessing is to go along with the other PHP 8.0 changes, but I was

[2022-04-14 11:57] #117 closed

[2022-04-14 11:57] #121 closed

[2022-04-14 12:04] duncan3dc commented on #117
This should be available in [2.2.0](https://github.com/duncan3dc/sonos/releases/tag/2.2.0) now

[2022-04-14 12:04] duncan3dc commented on #121
This should be resolved in [2.2.0](https://github.com/duncan3dc/sonos/releases/tag/2.2.0) now

[2022-04-15 16:54] 0stone0 opened #122 "Support for S38 Sonos One SL"
The `isSpeaker()` function does not support the Sonos ONE SL speaker.

Are there any plans of adding support for this speaker?

[code]

[2022-04-17 09:14] larascasse commented on #122
hello,
At the same time, could you add support for the **Sonos Roam SL - S35** ?
Thank you!

[2022-04-17 09:22] larascasse commented on #122
In my system, the ONE SL is S22 ...

 <modelNumber>S22</modelNumber>
  <modelDescription>Sonos One SL</modelDescription>
    <modelName>Sonos One SL</modelName>

[2022-04-18 13:50] dutchie027 commented on #122
[Here is an older Sonos Community](https://en.community.sonos.com/advanced-setups-229000/sonos-and-the-fcc-6796981) post showing a lot of the "model" numbers.

[2022-04-19 08:49] duncan3dc commented on #122
All these models should be available in [2.2.1](https://github.com/duncan3dc/sonos/releases/tag/2.2.1) now, thanks

[2022-04-19 08:49] #122 closed

[2022-04-21 11:34] 0stone0 opened #123 "Controller->getSpeakers not updating group"
First of all, many thanks for this awesome library, and the [hotfix](https://github.com/duncan3dc/sonos/issues/122) adding the new Sonos One SL speakers.

------

I'm trying to generate a 'state' object of our speakers, where the 'groups' are the leading factor.

I'm using the following code to generate such a 'state' object:
[code]

This works fine, and when logging this to console every second,

[2022-04-21 11:41] duncan3dc commented on #123
How are you constructing your `$this->sonos` object?
If you're using caching then changes in the app won't be detected by the library, but if you're just using the default settings that what you're describing _should_ work so there may be a bug

[2022-04-21 11:43] 0stone0 commented on #123
I'm using the code from your examples:
[code]

-----

If you want, I can post the complete test script (90 lines).

[2022-04-21 11:49] duncan3dc commented on #123
Yes please, then I can reproduce the problem locally and figure out what's going on

[2022-04-21 11:55] 0stone0 commented on #123
Please see attached code.

[code]

[2022-04-21 12:15] duncan3dc commented on #123
Ah ok, so it is cache, because you've got a long running script the code assumes that only _it_ is in control of the speakers, so it doesn't expect them to change during execution.

You can workaround your specific issue with `updateGroup()` like so:
[code]
But I fear this might not be the end of your troubles. If not, please come back on this issue and I'll see if we can implement some kind of "c

[2022-04-21 12:29] 0stone0 commented on #123
Ahh, many thanks!

Calling `updateGroup()` does indeed 'add' the controller to the correct group, sometimes I'm getting double controllers but that's not a problem:
[code]

-----

Unfortunately, the `updateGroup` does not *remove* a device from a group, so when using the Sonos app to disconnect a single speaker from a 'group', it's still in the original group, probably another cachining issue.

An

[2022-04-21 12:39] 0stone0 commented on #123
Ahh, creating an entirely new network sound kinda overkill.

Again, many thanks for thinking along.

-----

Since it might help, here's what I'm trying to achieve using your library:

Trying to create a Daemon like script, that will use your library to

* Communicate with the Sonos speaker
* Keep a state object of all the speakers/groups

Eventually the script will receive/send Websocket packages